[2013-09-01 20:53] paulschwarz opened #1 "What is $baseAddress?"
https://github.com/mailgun/mailgun-php/blob/master/src/Mailgun/Messages/MessageBuilder.php#L54

[2013-09-04 13:10] samholman opened #2 "MissingEndpoint exception thrown during sendMessage()"
Haven't done much investigation yet, thought I should report it anyway.

PHP Fatal error:  Uncaught exception 'Mailgun\Connection\Exceptions\MissingEndpoint' with message 'The endpoint you've tried to access does not exist. This might be a bug! Notify support@mailgun.com.' in vendor/mailgun/mailgun-php/src/Mailgun/Connection/RestClient.php:95
Stack trace:
#0 vendor/mailgun/mailgun-php/src/Mailgun/

[2013-09-04 14:28] yoye opened #4 "DEFAULT_TIME_ZONE is not define"
DEFAULT_TIME_ZONE constant is not defined and it's used when MessageBuilder::setDeliveryTime() method is called without TimeZone argument.

Could you please add the constant ? I can do a pull request but as an European I'm not sure I'll to define the correct one.

[2013-09-04 16:49] #1 closed, assigned to travelton

[2013-09-04 16:51] #4 closed, assigned to travelton

[2013-09-07 18:31] #2 closed, assigned to travelton

[2013-09-09 03:21] markdwhite opened #7 "Requirement for Guzzle is restrictive"
Currently this library requires a fixed version of Guzzle:

"guzzle/guzzle": "3.7.1"

This causes problems when trying to install other libraries that have a more relaxed set of requirements, eg aws-sdk-php:

"guzzle/guzzle": "~3.7.0"

I suggest the mailgun-php also uses tilde or wildcard matching as ~3.7.0 or 3.7.\* should provide a consistent API.

Mark...

[2013-09-10 22:55] travelton opened #9 "Message Builder Reply To Bug"
Function setReplyToAddress() should be a single value field. The Mailgun API does not accept an array for parameter "h:reply-to". The function "addRecipient()" will need another if statement to check for headerName = "h:reply-to" and assign the value instead of nesting an array.

[2013-09-12 21:21] #7 closed, assigned to travelton

[2013-09-12 21:21] #9 closed, assigned to travelton

[2013-10-01 20:02] bighappyface opened #12 "E-mail Address Validation"
Team,

Are there plans to integrate the e-mail address validation service into this SDK?

[2013-10-02 17:52] #12 closed, assigned to nobody

[2013-10-02 18:16] travelton opened #13 "Add Change Log to Repo"
We need a change log in the repo to track changes between versions.

[2013-10-02 18:19] #13 closed, assigned to travelton

[2013-10-07 20:55] travelton opened #15 "Batch Message Unique ID"
The batch message handler is failing to add unique IDs for each recipient, when not defined. While it's not required, it's a nice to have.

[2013-10-08 00:00] #15 closed, assigned to travelton

[2013-10-11 19:42] travelton opened #17 "Recipient Variables on CC and BCC Recipients"
Currently, the SDK does not support adding recipient variables for CC and BCC recipient types. The Mailgun API does support template variables for CC and BCC recipients.

[2013-10-11 20:48] #17 closed, assigned to travelton

[2013-10-15 00:39] travelton opened #20 "Put Request on Routes"
Suspected: Actions seem to be unordered after issuing a PUT request on a Route. Needs more research.

[2013-10-16 21:07] taylorotwell opened #21 "Way to set attachment name?"
Currently you add an attachment by file path. Is there a way to set a custom name for the attachment that is distinct from the path?

[2013-11-26 02:49] ghost opened #22 "RestClient::responseHandler fails at downloading stored message attachments"
On line 81 on Mailgun\Connection\RestClient the response is always assumed to be a JSON string. This is not the case when downloading attachments for stored messages. The data that comes back is raw file data. JSON decoding fails the http_response_body parameter is set to null.

I cannot download attachments directly either as the API end point requires authentication.

Currently, the only solutio

[2013-12-12 17:31] adduc opened #25 "Update CHANGELOG.md with changes for the 1.5 release"
It'd be nice to know what was changed in the latest stable release without having to check the commit logs.

[2013-12-14 01:34] #25 closed, assigned to nobody

[2014-01-07 05:11] streetcoder opened #27 "Can't install Mailgun library"
Dear Support team,

I have been trying to install mailgun library in my localhost using composer. I wrote in the command prompt the following commands:
- php composer require mailgun/mailgun-php:~1.3
  it gives me error as:

c:\mailgun-php>php composer.phar require mailgun/mailgun-php:~1.3
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies

[2014-01-07 17:28] #27 closed, assigned to nobody

[2014-01-09 23:34] 40 opened #28 "How To Parse Incoming Email Using API?"
Hello. I have set up a route that POSTs to a URL on my server. I would like sample code showing how to parse the incoming message fields from the request using php.

Only the following code is provided in the documentation. (this is Django code).

[code]

http://documentation.mailgun.com/quickstart.html#receiving-and-parsing-email
##### Would you please provide a sample that does the exact same th

[2014-01-10 01:40] #28 closed, assigned to nobody

[2014-01-23 15:06] chriswoodford opened #30 "Any interest in merging concerns?"
Hey, I couldn't find a good way to get in touch via the documentation site, so I thought I'd just send a quick note through here.

I created a php mailgun api wrapper a couple months before you guys released this one. Would you have any interest in collaborating to find a way to merge my code base (or maybe certain aspects of the code base) into this library?

I don't see any point in having "comp

[2014-01-24 22:17] #21 closed, assigned to nobody

[2014-01-24 22:17] #20 closed, assigned to nobody

[2014-01-29 10:10] willytk opened #32 "addAttachment() throws missing arguments error"
Testing the Message Builder example code with a simple addAttachment("@/var/www/smiledance.gif");

The image exists and is readable.

The script works fine and sends the email if I comment out the addAttachment line.

Tested on two LAMP servers, the latest on a fresh Ubuntu 13.10 with PHP Version 5.5.3-1ubuntu2.1.

The script throws:
Uncaught exception 'Mailgun\Connection\Exceptions\MissingRequire

[2014-01-31 01:26] #32 closed, assigned to nobody

[2014-02-01 20:34] abrantw73 opened #34 "inline image php error"
Getting the following warning when trying to add an inline image to a message via mailgun php.  Email is sent, but there is no inline image

Warning: Invalid argument supplied for foreach() in /var/www/html/blahblahblah.com/public/php/vendor/mailgun/mailgun-php/src/Mailgun/Connection/RestClient.php on line 65

using mailgun 1.7 and using the following sample code as a guide:
# Include the Autoload

[2014-02-02 00:05] Bogardo opened #35 "Renaming attachments not working"
I haven't been able to send attachments using the new method to rename the attachments.

Here is the test code I used:

[code]

After running the above I only receive the first two emails.
Here are the results per version/mail:
- Version 1: No problems, email arrives with the two attachments
- Version 2: Email arrives without attachments
- Version 3: Throws exception "Unable to open NumberTwo.txt

[2014-02-03 20:38] #34 closed, assigned to nobody

[2014-02-13 11:42] chuchden opened #36 "PHP code problem"
namespace Mailgun\Connection;

use Guzzle\Http\Client as Guzzle;
use Mailgun\MailgunClient;

use Mailgun\Connection\Exceptions\GenericHTTPError;
use Guzzle\Http\QueryAggregator\DuplicateAggregator;
use Guzzle\Http\QueryAggregator\PhpAggregator;
use Mailgun\Connection\Exceptions\InvalidCredentials;
use Mailgun\Connection\Exceptions\NoDomainsConfigured;
use Mailgun\Connection\Exceptions\MissingRequi

[2014-02-13 22:51] coinlink opened #37 "Fatal error: Class 'Guzzle\Http\Client' not found on declaring a new object of the class Mailgun with api key"
Fatal error: Class 'Guzzle\Http\Client' not found in /vendor/mailgun/mailgun-php/src/Mailgun/Connection/RestClient.php on line 28

[2014-02-13 22:54] #37 closed, assigned to nobody

[2014-02-14 18:52] #35 closed, assigned to nobody

[2014-02-14 18:53] #36 closed, assigned to nobody

[2014-02-19 07:49] henkealg opened #39 "Setting tags with BatchMessage()"
When sending a message using sendMessage() you are able to set tags for the message using the wrapper.
You can also set a tag when using BatchMessage() using addCustomHeader().
This sets the same tag for all messages in the call. We would like to set individual tags also when using BatchMessage().
Do you think this can be achieved?
Thank you for a superb wrapper btw.

[2014-02-19 11:45] #39 closed, assigned to nobody

[2014-02-25 09:47] travoltron opened #40 "Get list members limit"
Using a simple wrapper in Laravel 4, I am trying to get the members of a particular list that has 2000+ members.

Mailgun::get("lists/$address/members", array(
            'subscribed' => 'yes',
            'limit'      =>  50,
            'skip'       =>  0)
        );
Of course the default (as indicated in the docs) is 100.
As soon as I set the limit over 100, I get this error:
The parameters pa

[2014-05-13 16:01] travelton opened #43 "PHP 5.5 Timezone Offset, Potential PHP Bug?"
The following test only fails on PHP version 5.5. Investigation is further required to determine whether the issue is isolated to PHP 5.5 or a larger issue with the SDK.

https://github.com/mailgun/mailgun-php/blob/master/tests/Mailgun/Tests/Messages/MessageBuilderTest.php#L238-L240

My best guess is a PHP bug, due to other reports of incorrect offset.

https://bugs.php.net/search.php?cmd=display&

[2014-05-13 16:03] #40 closed, assigned to nobody

[2014-05-24 10:19] jonaslejon opened #46 "Missing endpoint"
PHP Fatal error:  Uncaught exception 'Mailgun\Connection\Exceptions\MissingEndpoint' with message 'The endpoint you've tried to access does not exist. Check your URL.' in vendor/mailgun/mailgun-php/src/Mailgun/Connection/RestClient.php:132

When checking the $responseObj it yields the following endpoint:

[code]

My domain name is https.se

[2014-05-27 17:43] #46 closed, assigned to nobody

[2014-05-30 14:18] dimkalinux opened #47 "Limit in get bounces"
If limit is over 1000 i got error http://thecode.punbb.org.ua/get/raw:9S6F3qsTIkwlYn/lq4oivjll3.php

code
$mgClient = new Mailgun($config->mailgun->key);
$domain   = $config->mailgun->domain;
$result = $mgClient->get("$domain/bounces", array('skip' => 0, 'limit' => 2000));

PHP 5.3.23 (cli) (built: Mar 18 2013 21:54:26)
"mailgun/mailgun-php": "v1.7.1"

If i made request use desktop rest-client - a

[2014-06-21 03:03] setkyar opened #49 "Can't add users to mailgun mailing lists"
I try like the following that I was saw at the doc.

[code]

But I got the following errors

[code]

When I tracke the errors, I know I miss two parameter. So add and test with empty paramater but I still got and errors.

[2014-07-15 14:10] vijaysubbarayan opened #52 "won't get mails from php sdk in mailgun"
trying to get the json data of mailgun
$queryString = array(
    'begin'        => 'Fri, 3 May 2013 09:00:00 -0000',
    'ascending'    => 'yes',
    'limit'        =>  25,
    'pretty'       => 'yes',
    'subject'      => 'test'
);
# Make the call to the client.

$result = $mgClient->get("$domain/events", $queryString);
is there is any http header to set in this?

[2014-08-12 10:54] dohomi opened #54 "try response function"
Hi guys,

The script always fails if a ResponseCode is != 200. Would be great to implement a public function for simply check a `endpointUrl`. This would make life easier in process of cleanup bounceback and mailinglist recipients.

Thanks

[2014-09-13 23:43] jchamberlain opened #59 "Negative Events Filters Return Cause Empty Results"
Passing a negative event filter string to the events API, such as "accepted -stored", always returns an empty result set, regardless of what events are actually logged.

I tried fixing this in #58, but my solution didn't work. This may be a bug in Guzzle 3.9.2.

[2014-09-16 01:12] robbie-cahill opened #61 "You have legacy ?> php closing tags at the end of many classes"
You have legacy ?> php closing tags at the end of many classes.

For example, in Mailgun\Mailgun.php

These can trigger output, so need to be removed.

Modern versions of PHP no longer need them.

[2014-09-16 16:13] zahidilead opened #62 "Class 'Mailgun' not found"
Hi,
## Why I am getting the error Class 'Mailgun' not found. Screen shot is http://prntscr.com/4neel2 and code is as blow:

require 'vendor/autoload.php';
# First, instantiate the SDK with your API credentials and define your domain.

$mg = new Mailgun("key-619-tq-f2v8oyb3zvn1rvojyp52lcef7");
$domain = "rs89818.mailgun.org";
# Now, compose and send your message.

$mg->sendMessage($domain, array('f

[2014-09-20 16:23] #59 closed, assigned to nobody

[2014-09-27 14:00] jogee31 opened #63 "Fatal error: Uncaught exception thrown during sendMessage()"
Hi getting following error while using sendMessage(), before it was working fine.

Fatal error: Uncaught exception 'Mailgun\Connection\Exceptions\MissingRequiredParameters' with message 'The parameters passed to the API were invalid. Check your inputs!' in C:\xampp\htdocs\Mailgun\vendor\mailgun\mailgun-php\src\Mailgun\Connection\RestClient.php:125 Stack trace: #0 C:\xampp\htdocs\Mailgun\vendor\mai

[2014-10-06 22:38] #62 closed, assigned to nobody

[2014-10-06 22:39] #63 closed, assigned to nobody

[2014-10-06 22:41] #43 closed, assigned to nobody

[2014-10-06 22:43] #54 closed, assigned to nobody

[2014-10-14 14:22] tamasimrei opened #65 "Feature request: add proxy support"
It would be good to have a proxy setting which then be picked up by Guzzle.

[2014-11-18 01:22] #61 closed, assigned to nobody

[2014-11-18 01:22] #52 closed, assigned to nobody

[2014-11-18 01:23] #22 closed, assigned to nobody

[2014-11-25 04:26] anton-efimenko opened #67 "Proper message if the queue is full."
If the mail queue for the domain is full the SDK returns an unclear message:

[code]

[2014-11-29 00:25] stevenwaskey opened #68 "Input validation error on Last_4 fields."
Input fields validating last four of social do not permit numbers starting with zero.

[2014-11-29 00:25] #68 closed, assigned to nobody

[2014-12-06 17:40] consolibyte opened #69 "Docs are wrong for MessageBuilder->addAttachment()"
On this page:
https://github.com/mailgun/mailgun-php/blob/master/src/Mailgun/Messages/README.md

It indicates there's an available function:
bool addAttachment(string $attachmentPath)

But if you look at the actual code, the function signature is actually (a much better version!) this:
bool addAttachment($attachmentPath, $attachmentName = null)

Docs just need to be updated. Thanks, this library i

[2015-01-07 05:42] ketanshah79 opened #70 "Code for campaign API missing?"
Hi,

I was wondering if this SDK supports the campaign API? http://documentation.mailgun.com/api-campaigns.html

I skimmed over the repository but could not find anything relevant?

Thank you,
- Ketan

[2015-01-13 05:13] ezyone123 opened #71 "The endpoint you've tried to access does not exist"
I am getting this error when trying to send a simple email. I have double checked my domain as that was the solution for the few other people who had the same issue, I'm sure its the same one I used to set up my malign account.

      <br />
      <b>Notice</b>:  Array to string conversion in <b>/var/www/html/php_libs/vendor/mailgun/mailgun-     php/src/Mailgun/Mailgun.php</b> on line <b>36</b><br

[2015-01-13 19:38] CupOfTea696 commented on #71
Go to the RestClient.php file and edit it where the error originated:

[code]

This way you can actually see the response from the request to Mailgun. It might help you figure out what went wrong.
Mailgun should update their package to show this info in the error. I'm gonna make this a bit better looking and create a pull request.

[2015-01-13 22:52] ezyone123 commented on #71
It says domain not found. Is the domain I use not the one listed in : I have exactly that (stnatoday.com) listed as my domain
![screen shot 2015-01-13 at 5 41 17 pm](https://cloud.githubusercontent.com/assets/2058024/5730831/af05ffc4-9b4b-11e4-8922-e885354abae0.png)

[2015-01-14 00:56] ezyone123 commented on #71
Turns out I had not verified my account. Got it figured out, thanks!

[2015-01-14 00:56] #71 closed

[2015-01-14 11:04] CupOfTea696 commented on #71
You're welcome!

[2015-01-28 23:07] virgofx opened #73 "Update Mailgun to use GuzzleHttp"
Please update the http request methods to use the latest GuzzleHttp package. This is useful because it helps prevent redundancy in up-to-date packages from having to download both GuzzleHttp\ and Guzzle\ packages.

[2015-03-25 01:11] mnpenner commented on #71
Looks like the error messages were never updated. I just downloaded the SDK and got this cryptic message today. I thought I had to supply the 2nd arg to the c'tor, but that led to a whole new set of problems.

[2015-03-29 16:21] Bogardo opened #76 "POST /lists/<address>/members.json does not return updated list"
When I add multiple members to an existing mailinglist the returned mailinglist does not have the correct `members_count`, instead it returns the old `members_count` number.

[2015-04-16 10:03] Kulkarniharish opened #77 "Using SMTP creds in existing system not list email sent"
Hi,
I am using Mailgun's SMTP creds to send email from my existing mail system.But emails are going but they are not listed in Logs tab in my account for a particular domain.

Please let me know.

Thanks

[2015-04-20 07:17] ahmedanees opened #80 "Can you please guide me how can i get all emails from mailgun in my local"
Can you please guide me how can i get all emails from mailgun in my local,
I need to show all emails in my local db . For this i am trying to fetch all emails .

Please help me

I am trying below code it does not do any thing
use Mailgun\Mailgun;
$mg = new Mailgun("XXXXXXX");
$domain = "my.domain";

$result = $mg->get("$domain/messages");

Error:

Fatal error: Uncaught exception 'Mailgun\Connectio

[2015-04-28 12:41] gondo opened #81 "CC/BCC is ignored when using MIME message"
I'am creating email message with SwiftMailer, than casting it `toString()` and passing it as 3rd parameter to `sendMessage()` function, as shown in documentation:  https://documentation.mailgun.com/user_manual.html#sending-via-api
section: "Sending a MIME message which you pre-build yourself using a MIME library of your choice"

[code]
however `cc` and `bcc` message headers are ignored and email i

[2015-04-30 17:07] ahmedanees opened #82 "Unable to attach file from php"
## Test code is here

$file_name =  "/public_html/solfreaks/test/uploads/4-29-2015 2-21-46 PM.png";
            $messageBldr->addAttachment($file_name);
            //$messageBldr->setDeliveryTime("tomorrow 8:00AM", "PST");
            $messageBldr->setClickTracking(true);
print_r($messageBldr);

[code]

---
## POst array

Mailgun\Messages\MessageBuilder Object
(
    [message:protected] => Array

[2015-05-04 07:50] Nyholm commented on #81
I can confirm the bug. But this is not a bug in the API client. The API client is working and sending the proper HTTP request. There is a bug on the API server.

@travelton can you confirm the bug on the API server?

Btw, this does not work (form the docs):
[code]

[2015-05-06 18:41] jessespears commented on #81
Though it's a bit unintuitive, the behavior is consistent with our [documentation's explanation](https://documentation.mailgun.com/api-sending.html#sending): all recipients must be included in the 'to' parameter.

Your code will look like this:
[code]

I admit that the behavior is not as expected.  Note that all recipients will see any `bcc` recipients that are in the MIME.  Recipients won't see w

[2015-05-06 18:41] #81 closed

[2015-05-06 18:48] gondo commented on #81
@jessespears but how do you specify what recipient is CC and what is BCC if you can use only `to` param as in your example, and you cant specify CC/BCC in MIME?

[2015-05-06 19:02] jessespears commented on #81
Here's what you'll want to do:

To: specify in the `'to'` param and also in the To: header of the MIME
Cc: specify in the `'to'` param and also in the Cc: header of the MIME
Bcc: specify only in the `'to'` param.

If you submit using a `text` or `html` field instead of MIME, each recipient will see themselves as the only recipient mentioned in their To: field in their client.

[2015-05-06 19:51] Nyholm commented on #81
Thank you for the clarification.

Is this true only for MIME messages?

I'm not too sure this is correct, or I might misunderstand you.
[code]

This will send an email to tobias@happyr.com mailbox and one to tobias.nyholm@gmail.com mailbox. In both mailboxes I can see the following recipients.
![screen shot 2015-05-06 at 21 49 17](https://cloud.githubusercontent.com/assets/1275206/7502111/eb2dd660

[2015-05-06 23:26] jessespears commented on #81
@Nyholm you are absolutely right.  I was mistaken.  The `to`, `cc:`, and `bcc` fields are supported for the non-MIME messages.  I have edited my previous comment.  Thanks for catching that!

[2015-05-11 13:14] davzie commented on #80
I also am having this issue. See this controller:
        <?php namespace App\Http\Controllers;

        use Auth;
        use Config;
        use Input;
        use League\Fractal;
        use Mailgun\Mailgun;

        class UpdatesController extends Controller {

            /**
             * @var Mailgun mailgun
             */
            private $mailgun;

            public function __const

[2015-05-13 10:18] NerdsvilleCEO opened #83 "Mailgun API Compatability with Godaddy/PHP 5.4"
I developed a little php script that makes use of the curl API, and allows for multiple attachments, naming of attachments and sending of html/plain text email... it is super basic, however it is useful for anyone who is on Godaddy as it seems they have a block on outgoing SMTP and also their servers seem to operate on PHP 5.4 which doesn't seem to support namespacing as far as I can tell. Here is

[2015-05-15 22:55] nhajiyani commented on #83
On a tangent isn't PHP 5.4 security support ending by Sep 2015, I suppose it might be relevant to look at other versions soon.
http://php.net/supported-versions.php

[2015-05-15 23:18] NerdsvilleCEO commented on #83
Yes, however godaddy shared hosting does not allow updating php as far as I am aware, and this was for a customer of mine, again this is for a very specific situation

[2015-06-19 05:19] ethanpooley opened #84 "Control testmode settings for entire instances, with delivery override option"
I would find it useful to be able to put an entire Mailgun instance into testmode. All I can find in the current version is the ability to add the testmode flag to messages. I'm seeing three useful settings to store and use:

1. Testmode (true/false). If true, mailgun-php would behave as directed by the next two settings.
2. Send in testmode (true/false). If true, mailgun-php would ensure that the

[2015-06-22 13:25] robcaw opened #85 "\stdClass returned instead of an array"
Why is the response a \stdClass and not an associative array?

[2015-06-26 08:38] andreasbernhard commented on #73
+1

[2015-07-23 11:09] auro1 commented on #73
Please update to use GuzzleHttp/Guzzle:~6 instead of 5 since I'm already using v6 in my application and therefore I am unable to use your library :disappointed:

[2015-07-23 12:29] auro1 commented on #82
Could you please send a request to a http://bin.mailgun.net/ ?? It's easier that way. :+1:

[2015-07-23 12:33] auro1 commented on #84
I think this would be useful.

To not break BC the actual calls could be added to the public API of Mailgun\Mailgun?
$Mailgun = new \Mailgun\Mailgun();
$Mailgun->setTestMode(true, false); // Testmode true/false, send to mailgun true/false
$Mailgun->setTestModeDeliverAllEmailTo('me@example.net');

[2015-07-23 12:41] auro1 commented on #85
If you need it as an array, (array) $object it?

[2015-07-23 13:57] robcaw commented on #85
Because that's not recursive

On Thu, 23 Jul 2015 13:41 Anders Munk Petersen <notifications@github.com>
wrote:

[2015-07-25 08:29] auro1 commented on #85
Perhaps this googlefu will help you?  :-)

http://www.if-not-true-then-false.com/2009/php-tip-convert-stdclass-object-to-multidimensional-array-and-convert-multidimensional-array-to-stdclass-object/

[2015-07-25 12:05] robcaw commented on #85
I'm not asking how to do it, but wondering why it is done this way.

On Sat, 25 Jul 2015 09:29 Anders Munk Petersen <notifications@github.com>
wrote:

[2015-07-27 00:58] johncave opened #87 "Fatal error: Class 'Mailgun\Connection\RestClient' not found in /var/www/mysite.xyz/www/inc/libs/Mailgun/Mailgun.php on line 38"
I'm getting an error while trying to use this PHP SDK (not installed through Composer, I really prefer managing code dependencies manually so as to minimise them).

To fix the above error I can add the line `require "Connection/RestClient.php";` just above the first class declaration in Mailgun.php, but this in turn causes the error
[code]
and I imagine if I kept going I'd be caught in a big tangl

[2015-07-27 07:12] RubenKruiswijk commented on #87
If you choose to install without Composer you'll have to resolve all dependencies yourself. You'll have to look in the composer.json file what dependencies are required and follow the dependencies to see if a dependency depends on another.

That's why composer is so handy :-)

[2015-07-27 10:17] johncave commented on #87
Ah, I see now, so this issue is due to missing other packages that Composer would handle for me if I used it, not due to the configuration of my server?

I think I'll just use CURL directly if that's the case, that sounds much more straightforward.

[2015-07-27 10:20] RubenKruiswijk commented on #87
Correct.

Using CURL would work fine too, although you have to implement it yourself, something that this library is built for.

[2015-07-27 10:57] johncave commented on #87
Thanks for your timely reply, Ruben :smile:, I'll get onto that tomorrow.

[2015-08-27 16:22] virgofx commented on #73
Any way we can merge PR #86?

[2015-08-27 17:10] auro1 commented on #73
It breaks backwards-compability (php 5.4 support), so it would have to be a new major release for mailgun/mailgun-php

You could choose to just use my branch? I'm using it in production. Eventually I'll merge it into mailgun/mailgun-php.

[2015-08-27 21:35] virgofx commented on #73
@auro1 Auro -- we ended up using your branch .. works perfectly.

Moving forward, I'm in favor of creating a new major release that breaks php 5.4 as I know Guzzle6 requires php 5.5 with your PR merged :)

[2015-09-01 20:54] LTroya commented on #17
Is it still not supported ?

[2015-09-09 10:57] simonda86 opened #89 "The parameters passed to the API were invalid error when passing an array for groupby"
Hi,

I used to be able to group clicks by both link and recipient to enable "spy mode" which is used in the [advanced examples] (https://documentation.mailgun.com/api-campaigns.html#advanced-examples).

[code]
But this is now causing an MissingRequiredParameters exception to be thrown, if I change this to just a string e.g.
[code]
I get the expected result, how can I still pass 2 groupby parameter

[2015-09-09 12:27] simonda86 commented on #89
After some further digging I have found that this is caused by Guzzle, I'm not sure why it was changed but instead I can pass 2 parameters as below.

[code]

[2015-09-09 12:27] #89 closed

[2015-09-27 11:57] alexandrubau commented on #34
I really think that this should be in the readme. I spent a lot of time trying to figure this out.

Thanks @Tim-Machine

[2015-09-28 14:53] airways commented on #62
Just wanted to post a note since the resolution on this issue seems to be pretty incomplete, and this issue is the top google search result for "composer Clas 'Mailgun' not found'. The actual problem causing this error appears to be that the sample code does not use the Mailgun namespace. See second line here, which I've updated to have the namespace:

    require 'vendor/autoload.php';
    $msg =

[2015-10-01 05:27] vinita90 opened #92 "The parameters passed to the API were invalid. Check your inputs"
$mg = new Mailgun('key-');
		$domain = "domain.com";
		$file="test";
		try
                {
		$mg->sendMessage($domain,array(
                                'from'=> 'support@domain.com',
                                'to'      =>'id@domain.com',
                                'subject' => $subject,
                                'html'    => '$body';

[2015-10-14 10:21] ProPheT777 opened #95 "Follow semver"
Hey,

Please is it possible to follow semver, because go from 1.7 to 1.8 is not possible since you bump php version, so application under 5.3 doesn't not work after the update via ~1.7. It's problematic because minor patch must work.

Take care ;)

Cheers

[2015-10-22 18:08] maximevalette commented on #85
:+1:

[2015-10-24 13:05] BentCoder opened #96 "Small refactor to verifyWebhookSignature() method"
Hi,

I think you should refactor https://github.com/mailgun/mailgun-php/blob/master/src/Mailgun/Mailgun.php#L85 method to handle incoming data better otherwise in some cases it causes `500 Internal Server` error. I know it can be done before calling the method but it is good to handle it in your code as well.

Regards

**CURRENT**
[code]
**Result**
[code]

**PROPOSED**
[code]
**Result**
[code]

[2015-10-30 06:28] argb opened #97 "can't use guzzlehttp 6.x,please update dependecy"
I can't this sdk,because you still use old guzzlehttp 5.x,it's really sorry for that.

[2015-11-04 06:37] colin-stannard commented on #97
This is a problem for me too. Any chance of an upgrade soon?

[2015-11-08 19:08] argb commented on #97
@colin-stannard Finally ,I removed all packages depend on Guzzlehttp 6.

[2015-11-09 06:53] RubenKruiswijk commented on #97
You could also use ``` "mailgun/mailgun-php": "1.7.2"``` (which relies on the older guzzle/http) and guzzlehttp 6 together while waiting on the rewrite (see pull requests)

[2015-11-09 17:39] argb commented on #97
@RubenKruiswijk Thank you for your advices.

[2015-11-27 10:03] DonnieDrummer commented on #97
I'm too need support guzzlehttp ~6.0

[2015-12-03 01:02] aJamDonut commented on #92
'html' => '$body';
to
'html' => $body;

[2015-12-16 06:46] motsmanish opened #99 "Please review and include my mailgun cakephp plugin link in your readme, framework integration section"
Please review and include my mailgun cakephp plugin link in your readme, framework integration section, let me know if any issues. Will be adding tests cases soon.
https://github.com/motsmanish/cakephp-mailgun

[2016-01-04 19:09] perajovic commented on #97
+1

[2016-01-06 17:04] ricardofarina96 opened #101 "How to use CURLOPT_CAINFO"
For a application I'm developing i use the mailgun-php library for sending mails, but i keep getting cUrl error 60. After a quick search i discovered that i have to provide a certificate file. Which is set using the cUrl option CURLOPT_CAINFO. I found that these settings are set in RestClient.php and after testing with CURLOPT_SSL_VERIFYPEER => false it worked.

Configuring this option via Apache

[2016-01-10 12:57] RastaLulz commented on #97
Would love to see support for Guzzle 6, this is holding me back.

[2016-01-11 16:20] brynnb commented on #97
Also looking forward to this, having to remove mailgun from my project until new guzzle is added. Thanks for all the hard work!

[2016-01-11 21:01] SkyDreamsCI commented on #97
@DonnieDrummer, @perajovic, @RastaLulz, @brynnb please see my comment above. Version 1.7.2 is working just fine and provides the same functionality.

[2016-01-11 21:02] RubenKruiswijk commented on #97
@DonnieDrummer, @perajovic, @RastaLulz, @brynnb please see my comment above. Version 1.7.2 is working just fine and provides the same functionality.

[2016-01-11 21:38] brynnb commented on #97
@RubenKruiswijk thanks for the note, unfortunately I am relying on another library that relies on 1.8+, I am not using mailgun-php directly, so the lack of guzzle 6 is still an issue.

[2016-02-05 17:09] olsgreen commented on #97
+1 using @RubenKruiswijk work around atm.

[2016-02-11 22:08] barrar opened #104 "Windows install instructions fix"
Windows:
PHP must be installed on your computer, download. Instructions from getcomposer.org.

Download and run Composer-Setup.exe.
Open a Command Prompt and type "php composer require mailgun/mailgun-php:~1.7.2".
^^^This did not work, instead I used "composer require mailgun/mailgun-php:~1.7.2" without the php in front and it worked fine.
The files will be downloaded to your local computer.
Uploa

[2016-02-15 13:03] timkrins commented on #104
Not an issue.

This is because you do not have ```php.exe``` in your Windows PATH.
You will always need the particular executable in your Windows path if you are trying to run any executable's name in the Windows command line - it's an elementary aspect of developing on Windows.

If you read the Composer Windows installer instructions:

Therefore, you can use ```composer``` instead of ```php compo

[2016-02-15 21:07] #104 closed

[2016-02-24 19:29] dbebawy commented on #70
+1

[2016-02-24 23:14] marcelstoer opened #105 "False positives"
I guess this is an issue for your "core" project which doesn't seem to be on GitHub. The jQuery sample shows the same false positive...

If the server is rejecting a user because it's invalid (SMTP 550) you shouldn't be reporting it as valid. I'm testing with `info@sbb.ch`.

[code]

[2016-02-26 10:21] uaoleg commented on #97
+1

[2016-03-05 11:08] Nyholm commented on #101
If/When #94 is merged you can configure your own http client with `CURLOPT_SSL_VERIFYPEER => false` or `verify=>false` if you use Guzzle.

[2016-03-05 11:10] Nyholm commented on #97
PR #94 will allow **you** to decide what version of Guzzle to use. Please review it and test it so it will be easy for the maintainers to make a decision to merge or not.

[2016-03-05 11:16] Nyholm commented on #95
Hey.
Bumping PHP version is allowed even in patch versions according to Semver. We are not breaking the public API by updating our dependencies. Also, composer will not install the new 1.8 version if you do not have the required PHP version. So nothing will break in your system running PHP 5.3 when you do `composer update`. You will simply not get the latest version...

Also, you should consider u

[2016-03-19 14:46] onokje opened #109 "Howto add attachment data?"
I know how to add attachment files, but what about attachments that are not stored as local file? There is plenty examples for this, like PDF's generated on the fly, or files downloaded from some cloudstorage.

Correct me if i'm wrong, but the only way to add these files as attachments at the moment, is storing them in a temp file, then attach them, and finally remove the temp file.
Can we make th

[2016-03-21 15:07] mollierobbert commented on #97
+1 it should work with guzzlehttp 6.

[2016-03-21 23:03] DSpeichert commented on #97
+1

[2016-03-22 08:27] kushalappamp commented on #35
using the same code for attachments,

i am getting error lik
Caught exception: Unable to open \uploads\file.txt for reading

array('attachment' => array(
                                    array('filePath'   => '@\uploads\file.txt',
                                          'remoteName' => 'file.txt'),

[2016-03-24 18:23] zhil opened #110 "Serious problems"
I am trying to migrate from Mand... - they become paid for all accounts. I hided title, because I do not promote them :)
But I got a lot of problems.

1) I cant use single SMTP login/pass for different domains. Thats very annoying, because we have few different domains in the same system and used to send emails using the same SMTP credentials. Also I used to simply put the same SMTP in ALL my proj

[2016-03-24 21:22] jessespears commented on #110
Hi!  Those are some big problems, and we can help you with all of them!  From your Mailgun Control Panel, in the Support menu, you can create a support ticket.  I'm confident you'll get speedy service!

Since these issues aren't specific to `mailgun-php`, I'm closing this issue.

[2016-03-24 21:22] #110 closed

[2016-03-25 09:44] andrebruton commented on #71
Is it not possible for the PHP library code to return an error instead of a fatal error. I do not want fatal errors in a production environment.

I check for returned code and if 200 then i know the email has been delivered to Mailgun.

[2016-03-25 09:48] andrebruton opened #111 "Feature Request: Better error support"
I'd like to see better error support. When an email is delivered to Mailgun it responds with code 200. If some errors occur (like wrong endpoint etc) I get a fatal error instead of an error message being returned.

At the moment this makes it difficult to use Mailgun in a production environment.

[2016-03-25 17:43] zhil commented on #110
@jessespears well, actually 3rd problem is directly related to mailgun-php. not sure about 4th

[2016-03-25 20:02] mnpenner commented on #71
@andrebruton You can always put a `try {} catch {}` around it.

This error message should still be updated to say "This domain has not been verified yet" or something, if that is indeed the problem.

[2016-03-26 11:04] andrebruton commented on #71
Thank you. Tried it and I get a message back. Does this look good?

`    try {
      # Now, compose and send your message.
      $result=$mg->sendMessage($domain, array('from'     => 'info@mg.domain.co.za',
                                              'to'       => 'user@email.com',
                                              'subject'  => $subject,

[2016-03-30 20:20] RubenVermeulen opened #113 "Passing false as data with post, get or put it does not work."
`# Issue the call to the client.
$result = $mgClient->put("lists/$listAddress/members/$memberAddress", array(
    'subscribed' => false,
    'name'       => 'Foo Bar'
));`

The false after subscribed does not work. "no" and "0" work just fine.

Note when using true, it does work.

[2016-03-31 18:47] renzell commented on #97
+1

[2016-03-31 18:48] dbebawy commented on #97
+1

[2016-04-02 02:02] levidurfee opened #115 "Uncaught RuntimeException: Puli Factory is not available in ClassDiscovery.php:32"
`composer.json`

[code]

[2016-04-02 03:12] levidurfee commented on #115
I added `"php-http/guzzle6-adapter": "^1.0",` to my `composer.json` and used the example from the readme.

[code]

[2016-04-02 03:12] #115 closed

[2016-04-02 16:50] irfanevrens opened #116 "Puli Factory is not available error."
related 2.0

[2016-04-04 00:47] matthendrix commented on #116
I get the same error. Additionally, the Puli Github page say this;

**ATTENTION: This package is not maintained anymore.**

[2016-04-04 09:16] dirkpostma commented on #116
Any workaround known for this..?

[2016-04-04 09:56] dirkpostma commented on #116
Workaround I use is setting the HTTP client explicitely, as documented in README.

[code]

[2016-04-05 23:59] bshaffer commented on #116
I following instructions in README and received this error as well.

[2016-04-06 20:11] andrebellafronte commented on #116
same problem here

PHP Fatal error:  Uncaught exception 'RuntimeException' with message 'Puli Factory is not available'

The Puli Factory package has been abandoned

https://packagist.org/packages/puli/factory
This package is abandoned and no longer maintained. No replacement package was suggested.

[2016-04-14 10:16] yassine-ah commented on #116
+1

[2016-04-14 19:09] zeon opened #119 "The parameters passed to the API were invalid. Check your inputs"
I Every time when I call BatchMessage->finalize() it gives me "The parameters passed to the API were invalid. Check your inputs", does anyone know why?

[2016-04-18 11:47] mfn opened #120 "PHPDOC for \Mailgun\Mailgun::sendMessage misses @return"
It's not documented what kind of return type to expect.

[2016-04-18 13:20] korshoj commented on #119
If you still have this problem:
The "The parameters passed to the API were invalid. Check your inputs" error message is the default error message for any response that returns a 400 http status code. You might be better of updating the RestClient placed in https://github.com/mailgun/mailgun-php/blob/master/src/Mailgun/Connection/RestClient.php to give a better response (or just the entire response

[2016-04-23 15:38] ianchadwick opened #122 "Unable to put() with any data"
Attempting the below I get "Invalid resource type: array".

[code]

The only way I've been able to update the item is to use 'domains/' . $domain . '/connection?require_tls=true' which is a bit hacky.

Also if you don't pass anything as the 2nd param it complains due to missing argument.

[2016-04-25 15:33] ashishdoneriya opened #123 "username and password"
There is no option to set username and password

[2016-04-26 09:30] cschalenborgh commented on #116
Any updates on this from Mailgun?

[2016-04-27 07:30] eyeonx opened #124 "CORS issue"
Hi,

I use the mailgun-php for a web app based on Themosis (A WordPress framework). I made some test on my dev environment and it works perfectly.
Somehow when I port the code to the production environment and fire the same AJAX request to my admin-ajax.php file (the file responsible for all AJAX operation) I get a 500 error in response without details or errors.
However the e-mail will be sent co

[2016-04-27 15:10] cschalenborgh commented on #116
I got this response from their support team.

Per the recent update you now need to add a new line and change an old line when using the SDK. There are some instructions under the "Installation" portion of https://github.com/mailgun/mailgun-php that go into this in some detail, however here specifically are the lines:

[code]

Here is an example on how sending a basic message looks like now with t

[2016-04-28 06:26] tuannda opened #125 "How to get message id when Email send via SMTP"
Hello!

I want received message id when email send via smtp. I find document but I haven't any way resolve this issues.

[2016-05-01 14:53] saurabhkumarvaish14 opened #126 "PHP Fatal error: Uncaught exception 'Guzzle\Http\Exception\CurlException' with message '[curl] 7: Failed to connect to api.mailgun.net port 443: Connection timed out"
PHP Fatal error:  Uncaught exception 'Guzzle\Http\Exception\CurlException' with message '[curl] 7: Failed to connect to api.mailgun.net port 443: Connection timed out

[2016-05-02 10:59] julien731 opened #127 "Class 'Http\Adapter\Guzzle6\Client' not found"
I'm desperately trying to make this work, but when trying to instantiate `HttpClient`, I get the error `Class 'Http\Adapter\Guzzle6\Client' not found`.

My Composer dependencies are loaded using `autoload.php`. My code looks like this:

[code]

Using version 2.0 of the SDK.

[2016-05-02 11:03] julien731 commented on #127
Aw. Just when I post I realize I read the docs too fast. Didn't require `guzzle6-adapter`. Sorry for the annoyance, but I think this could be clarified in the docs.

[2016-05-02 11:03] #127 closed

[2016-05-03 19:00] yeslad opened #128 "Feature request: follow pagination"
Unless I missed something, it seems there is no built in support to follow pagination returned by the /events endpoint (possibly others as well?).

I ended up adding my own methods to the Mailgun and RestClient classes, but I would something from the source.

[2016-05-04 10:22] RanZix commented on #125
+1

Same issue

[2016-05-10 01:26] dtruel commented on #116
Doesn't work for me - even with the fix above I get

[code]

[2016-05-10 17:06] undefinedor commented on #116
I get the same error. How to solve it..

[2016-05-10 18:19] bshaffer commented on #116
I fixed it by explicitly setting the adapter in `composer.json`:

[code]

[2016-05-11 01:07] jurchiks opened #130 "localhost development - SSL certificate problem"
I'm running my dev site on PHP's built-in development server (`php -S localhost:8000`).

The basic code I'm using to send e-mail is as follows:

[code]

I've downloaded the libraries today, so the versions are `mailgun/mailgun-php v2.0`, `php-http/guzzle6-adapter 1.1.1`.

This code throws a `Http\Client\Exception\RequestException` with the message `cURL error 60: SSL certificate problem: unable to

[2016-05-11 03:19] undefinedor commented on #116
Yeah~ Thank you ..

[2016-05-11 07:03] nisbeti commented on #130
See

http://flwebsites.biz/posts/how-fix-curl-error-60-ssl-issue

And

https://laracasts.com/discuss/channels/general-discussion/curl-error-60-ssl-certificate-problem-unable-to-get-local-issuer-certificate/replies/52954
On Wed, 11 May 2016 at 02:08, Juris <notifications@github.com> wrote:

[2016-05-11 12:55] jurchiks commented on #130
But that's curl, I'm using your own API, which is using curl UNDER THE HOOD, where I can't get to it.

[2016-05-11 16:38] nisbeti commented on #130
I had this problem (not with mailgun though) and it was fixed by amending the php.ini file

[code]
 and putting the correct cacert.pem in the php/extras folder.

[2016-05-11 16:50] nisbeti commented on #122
Since the upgrade to v2 I have the same problem, which I have managed to (hack) fix, until a proper fix is released. I am using
[code]
as I didn't want to go the Puli discovery route.

./vendor/guzzlehttp/psr7/src/functions.php has a function called ```stream_for``` at line 77, which checks the type of the $resource passed to it (in our case this is the $body of our PUT request), and rejects it if

[2016-05-11 18:10] jurchiks commented on #130
I do not have access to php.ini.

[2016-05-11 18:11] jurchiks commented on #130
In any case, it seems that mailgun PHP API can't be used unless you're on a virtual host with a valid SSL certificate, which isn't applicable to many web projects that just want to occasionally send out an e-mail...

[2016-05-11 21:31] nisbeti commented on #130
When creating the mailgun class you can set an optional parameter $ssl to
false and cUrl will use http instead of https.
On Wed, 11 May 2016 at 19:11, Juris <notifications@github.com> wrote:

[2016-05-11 21:33] jurchiks commented on #130
Uhhh...
`public function __construct($apiKey = null, HttpClient $httpClient = null, $apiEndpoint = 'api.mailgun.net')`
What parameter are you talking about?

[2016-05-11 21:35] jurchiks commented on #130
God damn it, they removed the option in 2.0!!! What the fuck guys?

[2016-05-15 17:21] d4rkd0s commented on #116
Hmm didn't work for me still getting this,
[code]

[2016-05-16 16:28] lezhnev74 opened #132 "CampaignID is missed in Logs (but I've sent it via API)"
I use code to send a message:

[code]

I attach tag and campaign ID. But Logs in Dashboard show only tag:

[code]

Why do I do wrong?

[2016-05-16 16:30] lezhnev74 commented on #70
+1

[2016-05-17 18:16] RiLedyard commented on #130
Would also like to see a resolution for this, as I have the same issue

[2016-05-25 03:57] DanReinders commented on #130
+1
2.0 is currently unusable for me.  I'm having the same problem as jurchiks.

[2016-05-25 14:39] borisguery commented on #128
Same problem here.
I end up tweaking the request URI based on the `next` value.

`$requestUri = str_replace('/v2/', '', parse_url($result['paging']['next'], PHP_URL_PATH));`

[2016-06-10 21:06] mwangepatrick commented on #130
C'mon guys not everyone wants to have a valid SSL in all projects. This is just useless to me now :(

[2016-06-21 10:32] carlituxman commented on #116
With this works:

$client = new \Http\Adapter\Guzzle6\Client(); $mailgun = new \Mailgun\Mailgun('api_key', $client);

[2016-06-22 21:05] YupItsZac commented on #120
It seems this returns a `\stdClass`. Docblock updated in PR #134

[2016-06-22 21:22] YupItsZac commented on #123
@ashishdoneriya, where are you trying to set a username and password?

[2016-06-22 21:34] YupItsZac commented on #111
@andrebruton, are you talking about the exceptions thrown in `\Mailgun\Connection\RestClient::responseHandler`? Those are the only exceptions I see thrown (I very well could have missed some, so please correct me if I did) based on the response from Mailgun.

If the above is the case, I would partially agree and disagree with this request. The exceptions thrown are:

- MissingRequiredParameters
-

[2016-06-24 04:17] iRbouh commented on #122
First, make sure you are using the last version of `php-http/guzzle6-adapter`, then try the following:

[code]

[2016-06-24 08:25] matijakovacevic commented on #122
@iRbouh you're solution works perfectly!

To me, it's much more cleaner than that of @nisbeti, due to the fact that it's the $client's responsibility to add custom headers. Plus, works even when Mailgun-php is updated.

[2016-06-24 10:51] nisbeti commented on #122
Yes, much more elegant, and it avoids hacking. The examples in the documentation (https://documentation.mailgun.com/api-mailinglists.html#examples) should now be updated to reflect that an array cannot be passed as the second argument to the ```put``` method, and that the array should be wrapped in http_build_query().

[2016-06-24 13:39] fidransky commented on #130
What about this?

[code]

[2016-06-24 21:37] DigitalSolo commented on #130
fidransky's solution worked for me.  Damn I was pulling what little hair I have left out. Part of my issue is that I have never used composer and I was stuck between knowing if I was doing something wrong or if it was screwed up documentation.  I would say that the published documentation needs to be reviewed.

[2016-06-25 00:23] jurchiks commented on #130
Well, that's still only a workaround...
As I wrote before, there is a method in code `$mgClient->setSslEnabled(false);`, but this actually breaks the requests.

[2016-06-25 00:47] DigitalSolo commented on #130
I searched the code base for setSslEnabled and didn't find that method.  I think they depreciated the ability to perform non secure requests.

[2016-06-25 02:12] jurchiks commented on #130
https://github.com/mailgun/mailgun-php/blame/master/README.md#L166
https://github.com/mailgun/mailgun-php/blob/v2.0/src/Mailgun/Mailgun.php#L156
I think you don't have v2.0.

[2016-06-25 03:02] DigitalSolo commented on #130
Composer.lock:
"name": "mailgun/mailgun-php",
            "version": "v2.0",
            "source": {
                "type": "git",
                "url": "https://github.com/mailgun/mailgun-php.git",
                "reference": "976a76a3b5b46eb8d0dedbd48a5c98d054b6054f"
            },

[2016-06-25 03:28] jurchiks commented on #130
And yet you say you couldn't find "public function setSslEnabled($sslEnabled)" in the code...

[2016-07-02 05:37] BobRay opened #135 "Intermittent server 500 error"
I'm using a processor called via Ajax to send batches of messages (25 max per batch -- ~150 total messages) through Mailgun. At some point, my code stops sending, with a server 500 error, but when sending to the same users, it crashes at a different batch each time, sometimes after six or seven batches, sometimes after the second or third.  I built in a few retries when the http response status is

[2016-07-04 04:56] BobRay commented on #135
Never mind. The error was caused by a timing problem in my code. -- nothing to do with the API code or Mailgun.

[2016-07-04 04:56] #135 closed

[2016-07-06 12:56] HazCod opened #136 "Library download link on README not working"
`Rather just download the files? Library Download.`

[2016-07-06 14:23] YupItsZac commented on #136
👍 Nice catch, @HazCod

It looks like they just removed (or moved) the linked file and just never updated the README. You can, of course, always download the latest copy of the library from Github here: https://github.com/mailgun/mailgun-php/archive/master.zip

@jessespears, know where the original file went? I feel like the best way to handle this would be t just link the Github zip download from

[2016-07-12 10:19] iit2011081 opened #137 "How to add custom data in html email templates ?"
I am using php sdk to send html mails. I want to add some fields in my html template and then from php set the values of these custom fields. But I don't know how to access custom parameters in html. Lets say "projectName" is my custom parameter then I tried to add proejctName in html using {projectName}, {{projectName}} and {{$projectName}} but none of them are working. I am setting their value b

[2016-07-16 07:23] shahidbasheer commented on #116
composer require "php-http/guzzle6-adapter: ^1.0"
" Could not find package ^1.0 at any version for your minimum-stability (stab
  le). Check the package spelling or your minimum-stability
"

i solved by versin ^1.1
composer require php-http/guzzle6-adapter

[2016-07-20 08:49] Sam-Butler commented on #124
I'm getting this error too. I tried to catch it as a Guzzle exception but it still didn't catch, the error output seems to supersede any later output. I may just have to write my own wrapper for the RESTful calls I need to perform in my app.

[2016-07-20 09:05] Sam-Butler commented on #111
Well let's look at how I'm using it. I have an existing API built on the Slim framework (v2). I've added a simple GET route that instantiates mailgun-php with Guzzle6, and requests a domain name, e.g.:
`$result = $mailgun->get("domains/$domain");
$app->response->setStatus($result->http_response_code);
echo json_encode($result->http_response_body);`

I want to capture a 404 response if the domain i

[2016-07-20 21:52] Nyholm commented on #120
This can be closed

[2016-07-20 22:11] Nyholm commented on #116
This PR will fix the issue as it updates php-http/discovery to 1.0. That version does no longer require Puli

https://github.com/mailgun/mailgun-php/pull/139/files#diff-b5d0ee8c97c7abd7e3fa29b9a27d1780R8

[2016-07-20 22:11] #120 closed

[2016-07-20 22:11] Nyholm commented on #122
Closed by #138

[2016-07-20 22:11] #122 closed

[2016-07-20 22:13] Nyholm commented on #97
With Guzzle 6 (and 5) can be used in the version 2.0

[2016-07-20 22:13] #97 closed

[2016-07-20 22:14] Nyholm commented on #73
Mailgun 2.0 is not coupled to Guzzle. One can use any library for sending HTTP messages.

[2016-07-20 22:14] #73 closed

[2016-07-20 22:16] Nyholm commented on #126
This error is not related to the client, is it? You get a Guzzle exception that you could not reach the endpoint. If your problem still exists, please try to ping or curl the endpoint. Otherwise contact support

[2016-07-20 22:16] #126 closed

[2016-07-20 22:51] Nyholm commented on #116
This issue is fixed in 2.1

[2016-07-20 22:51] #116 closed

[2016-07-20 23:05] Nyholm commented on #109
That's correct, You have to store them locally. I would prefer to leave that to the library consumer because of the single responsibility principle.

[2016-07-20 23:05] #109 closed

[2016-07-20 23:06] Nyholm commented on #136
I think we could remove that link/paragraph. You have to use composer to fetch dependencies anyways.

Would you mind sending a PR?

[2016-07-20 23:11] Nyholm commented on #130
Since 2.0 Mailgun is not coupled to Guzzle, Curl or anything else. That means you are responsible for setting up the http client.

@fidransky your solution is the recommended way to go.

[2016-07-20 23:11] #130 closed

[2016-07-20 23:18] Nyholm commented on #99
Nice work. But this cakephp integration has barley 200 downloads. Please come back when your library is **the** library for cackephp mailgun integration.

[2016-07-20 23:18] #99 closed

[2016-07-20 23:19] Nyholm commented on #101
Fixed in 2.0

[2016-07-20 23:19] #101 closed

[2016-07-20 23:20] Nyholm commented on #96
Could you provide a PR with such refactoring?

[2016-07-20 23:20] #95 closed

[2016-07-20 23:20] #92 closed

[2016-07-20 23:21] #87 closed

[2016-07-20 23:22] Nyholm commented on #85
There has been no answer in a year. I guess the best we have right now is "I do not know". I hope you do not mind if Im closing this.

[2016-07-20 23:22] #85 closed

[2016-07-21 07:27] it-can opened #141 "2.1.0 No stream factories found. error"
Hi,

after updating to version 2.1.0 I get this error:

```No stream factories found. To use Guzzle or Diactoros factories install php-http/message and the chosen message implementation.```

in 2.0 it works correctly... I use this way to connect:

[code]

[2016-07-21 08:09] Nyholm commented on #141
The error message you got:

Tells you what to do. Try installing `php-http/message` and it will work for you.

[2016-07-21 08:45] it-can commented on #141
okay, maybe add this to the readme file? is a pretty breaking change in my opinion...

[2016-07-21 08:51] Nyholm commented on #141
You are correct, We did not use the php-http/message before. This PR fixes that issue: https://github.com/mailgun/mailgun-php/pull/142

[2016-07-21 08:51] #141 closed

[2016-07-22 09:40] dfrozenprogrammer opened #143 "unable to use mailgun php 2.1.1"
when i am trying to send a mail using the 2.1.1 version of mailgun api i get this particular error :-
: No stream factories found. To use Guzzle or Diactoros factories install php-http/message and the chosen message implementation.
please tell me if any one has a solution for this .

[2016-07-22 09:59] Nyholm commented on #143
The error message tells you what to do. Just install guzzlehttp/psr7. Or zendframework/diactoros.

[2016-07-22 10:01] dfrozenprogrammer commented on #143
its just saying that no stream factories are found .
and according to the error its saying to either use guzzle or diactoros .

[2016-07-24 12:42] DavidGarciaCat commented on #137
@iit2011081 hey there, are you using "pure php" or are you using a template engine like Twig or Smarty?

[2016-07-24 12:55] DavidGarciaCat commented on #125
@tuannda IMHO if you want to send emails via SMTP instead of API you need to manage these requests as a SMTP requests, so connect to the SMTP Server and send the email. If you want to get the Message ID I suggest to use the API methods and manage the provided responses as you need, given your code. At least this is the way I would like to apply.

Another option you can consider is to set one or mo

[2016-07-24 12:59] DavidGarciaCat commented on #124
Hello @eyeonx and @Sam-Butler

Question: Have you checked if [Mailgun Wordpress Plugin](https://github.com/mailgun/wordpress-plugin) is working as you need, without throwing a 500 (Internal Server Error) during the call? Maybe you can use the official plugin to solve this issue and save time, I don't know.

Regards,

[2016-07-24 13:02] DavidGarciaCat commented on #123
@ashishdoneriya Same question that @YupItsZac did: Where are you trying to set a username and password?

If you want to use Mailgun via SMTP you can set a username and password, given you need it in order to connect and get stablished with the SMTP Server.

If you want to use Mailgun via API you can provide your API Key, so you don't need to set the username and password to manage this request.

[2016-07-24 13:06] DavidGarciaCat commented on #113
Hi @RubenVermeulen

From my POV this can be related with 2 possible cases:
- An API Issue so Mailgun Tech Team will need to check the API
- A SDK issue so Mailgun Tech Team or an external developer can send a PR to fix it

Given this issue was opened almost 4 months ago I am going to ask you what SDK version you're using. Maybe there is a new SDK version available, and your case is now fixed.

Reg

[2016-07-24 13:09] DavidGarciaCat commented on #111
Hello @andrebruton and @Sam-Butler

Reading your cases I think you can catch easily those errors (on dev and prod environments) if you add a `try ... catch ...` statement, so you will be able to get the status code and message, and then proceed as you need given your project's code.

Can you check please if this case is solving your problem?

Regards,

[2016-07-24 13:18] DavidGarciaCat commented on #77
Hi @Kulkarniharish - I think all emails are now listed. Please have a look and let know to Mailgun's team if they can close this ticket (or do it yourself). Regards,

[2016-07-24 15:16] Sam-Butler commented on #124
I'm not using Wordpress, and I get the same result.

[2016-07-24 15:18] Sam-Butler commented on #111
Hi David, you answered another post I made regarding this, wherein I mentioned I had already used a try...catch block, and it was superseded by the error output.

I was able to use Httpful to issue the requests directly to the API without using this library, and they were successful.

[2016-07-24 15:28] DavidGarciaCat commented on #111
@Sam-Butler :+1:

[2016-07-26 11:59] YupItsZac commented on #136
Thanks for the PR @DavidGarciaCat, I didn't see these notifications until now. 👍

[2016-07-26 12:33] DavidGarciaCat commented on #136
@YupItsZac no worries - I still need to apply an update, but I'll do it ASAP

[2016-07-27 07:12] teamu commented on #27
The requested package mailgun/mailgun-php No version set (parsed as 1.0.0) is satisfiable by mailgun/mailgun-php[No version set (parsed as 1.0.0)] but these conflict with your requirements or minimum-stability.

[2016-07-27 07:21] Nyholm commented on #27
Hey. You should create a new issue so we do not bother more people than necessary. In that new issue, please provide a peace of your composer.json.

[2016-07-27 07:22] teamu commented on #27
sure

[2016-07-27 14:10] RubenVermeulen commented on #113
I used v1.8. Haven't tested the v2.* because when released it had some issues which made it unusable.

[2016-07-27 14:12] Nyholm commented on #113
Please test with the latest version of the library to see if the error still exists. It may have been solved already.

[2016-07-28 17:48] aalicki commented on #143
Also having the same problem, after installing psr/http-message via composer, the error still exists.

[2016-07-28 18:02] Nyholm commented on #143
Please make sure to run the following command to fix the issue

[code]

[2016-07-29 18:46] aalicki commented on #143
I've ran both of those commands, however the problem still exists.

[2016-07-29 19:23] Nyholm commented on #143
What error message do you get?

[2016-07-30 01:49] aalicki commented on #143
`: No stream factories found. To use Guzzle or Diactoros factories install php-http/message and the chosen message implementation.`

This same as the OP. This was after running the two commands you provided.

[2016-07-30 18:26] YupItsZac commented on #143
@aalicki, installing those dependencies should have fixed the problem. What was the output after you ran the composer command?

[2016-07-31 18:53] Nyholm commented on #136
The link is removed thanks to @DavidGarciaCat. I'm closing this.

[2016-07-31 18:53] #136 closed

[2016-07-31 20:28] aalicki commented on #143
Composer reported that those libs were installed properly, and I can verify they exist within the /vendors directory.

[2016-08-01 09:45] YupItsZac commented on #143
@aalicki, what's your code look like where this fails? Possibly related to https://github.com/guzzle/guzzle/issues/814?

[2016-08-01 15:10] aalicki commented on #143
Here is the code with the issues. I checked into  guzzle/guzzle#814, but didn't see much relation.
[code]

[2016-08-01 21:25] dmoylan opened #150 "Batch send only sending to last to: recipient added"
Mailgun 2.1.1
php-http/multipart-stream-builder 0.1.0,

BatchMessage stores 'to' recipients as array, populating via addRecipient
BatchMessage::sendMessage
calls RestClient::post()  which merges $files and $postData
calls RestClient::send()
calls Http\Message\MultipartStream\MultipartStreamBuilder::addResource() for each 'to' value
overwriting the previous 'to' value.  All that's left is the last

[2016-08-02 06:58] Kulkarniharish commented on #77
Hi there,

Thanks for replying back on this.
I just want to understand how long the sent emails will be stored in maligun ? and thru API how long we can keep accessing ?what if we need to access stored emails longer than 3 days?
Because you have mentioned that
"Stored messages are retained in the system for 3 days and automatically purged after this retention period, therefore there is no need to

[2016-08-02 08:16] DavidGarciaCat commented on #77
Hello @Kulkarniharish

What I understand is you want to check your messages history through Mailgun API. Is this right? If this is the case, a Mailgun team member should answer to your question, I'm afraid I'm just a developer and I cannot answer 😅 However I remember I read the same copy you added when I was looking for a service like Mailgun, so if a team member can clarify this will be great.

G

[2016-08-02 08:21] Nyholm commented on #77
I agree with @DavidGarciaCat. Keep a local copy of the emails.

I guess you will get a 404. Not sure to be honest. I use webhooks and keep a local log of all emails.

This issue is not related to the API-client. You should contact the Mailgun support.

[2016-08-02 08:21] #77 closed

[2016-08-05 08:51] Nyholm commented on #150
Could this be related to #151 ?

[2016-08-06 05:33] OpenIT4u opened #154 "Error when trying to install"
So I run ` php composer.phar require mailgun/mailgun-php:~2.0` and get the following error message:

[code]
I try `php composer.phar require mailgun/mailgun-php:2.1.1` and get
[code]
The above is on Ubuntu 14.04 running PHP 5.5.9.  When I try it on a relatively fresh install of Ubuntu 16.04 with PHP 7.0.8 I get:
[code]
How do I fix this?  Where can I just download the library already compiled read

[2016-08-06 08:06] Nyholm commented on #154
These are some weird error messages. What version of composer are you running?

You should be able to install mailgun by running the following command:
[code]

You cant, PHP is a script language, not a compiled language.

[2016-08-06 09:29] Nyholm commented on #143
If you have the latest version of composer, and you have been running this command:
[code]
... and you still get an error message complaining about the stream factories ("No stream factories found.") Then is the only think I can think of now is that you are not using the composer autoloader. Is that right?

[2016-08-06 09:33] OpenIT4u commented on #154
I'm using whatever version downloads when I run these instructions in the
readme:

# Install Composer
curl -sS https://getcomposer.org/installer | php
# Add Mailgun as a dependency
php composer.phar require mailgun/mailgun-php:~2.0

On 6 Aug 2016 9:06 a.m., "Tobias Nyholm" <notifications@github.com> wrote:

[2016-08-07 07:45] OpenIT4u commented on #154
Ok, I think I've understood the issue.  I'd cloned the code, then ran
[code]
in that directory.

However, it all works with no errors is I run the above commands in an empty directory.  Perhaps the readme needs to be clear that you do not clone or download the repository first.

The problem I know have is how to install this library to work with the mailgun module for Drupal on a host that I do no

[2016-08-07 07:45] #154 closed

[2016-08-07 08:00] Nyholm commented on #154
Using composer is a requirement for this library and all other modern PHP libraries. I know Drupal 8 does as well.

The installation instructions on the Drupal page tells you to download version 1.7.2 btw. Try with that version, you may have better success.

[2016-08-08 09:47] dmoylan commented on #150
On 08/05/2016 10:51 AM, Tobias Nyholm wrote:

Yes, I think this is a symptom of the same issue.  However, the fix
given for #151 addresses the problem for $files but not for $postData.

--
David Moylan
Dax Unlimited
213.399.2979

[2016-08-09 05:24] OpenIT4u commented on #154
Thanks Nyholm.  I used composer to create version 1.7.2, transferred the folder to the drupal installation and go to /admin/config/system/mailgun
I get the following error message: Fatal error: require_once(): Failed opening required `'/....../sites/all/modules/mailgun/mailgun.admin.inc' (include_path='.:/usr/share/pear:/usr/share/php') in /....../includes/menu.inc on line 525`
(Same as v 2.1.1)
I

[2016-08-10 13:03] iit2011081 commented on #137
@DavidGarciaCat I was using mailgun php sdk and tried to pass some variable in html template by using below code.
$messageBldr->addToRecipient("john.doe@example.com", array("first" => "John", "last" => "Doe", "projectName"=> "Sopan"));
<html>
    <p>
        Hello %recipient.first%, <br/> <br/>
        Your project is: %recipient.projectName%.
    </p>
</html>
But it was not working so I use [stri

[2016-08-10 13:08] DavidGarciaCat commented on #137
@iit2011081 👍

I use Twig to manage templates and arguments, and I get the rendered content before send the email, so in the end is the same process.

I presume a Mailgun repository member can close this ticket.

Cheers,

[2016-08-10 14:07] njohansson commented on #150
I also just frustratingly stumbled upon this issue. I have a case where I add multiple To-recipients, Bcc-recipients and attachments individually using addToRecipient(), addBccRecipient() and addAttachment() respectively on the MessageBuilder but it only mailed to the last To, Bcc and only added the last attachment.

I traced it down to https://github.com/php-http/multipart-stream-builder/blob/mas

[2016-08-10 15:27] Nyholm commented on #150
Can you try the patch in https://github.com/mailgun/mailgun-php/pull/157?

Does that help you?

[2016-08-10 15:53] njohansson commented on #150
I'm sorry but I'm a bit short on time right now to make a test case (just wanted to make sure to provide  feedback FYI, for our use case I simply downgraded SDK version which worked).
It should be very simple to setup a test case though by just calling addToRecipient(), addBccRecipient() and addAttachment() each twice and make sure it all comes through intact.

[2016-08-10 15:56] Nyholm commented on #150
You do not need to make a test case. I've already done that. I've also added a fix for this issue. I want to to try it out to see if it works. =)

[2016-08-10 16:16] njohansson commented on #150
Ah, OK. Tested quickly, got all attachments now, mail was only sent to one To-address and one Bcc-address though. Might be something at my side but my time is very limited right now so can't spend more time on troubleshooting this currently, sorry for that (I noted the build failed for your PR though so that might give you a clue).

[2016-08-10 16:18] Nyholm commented on #150
Thank you for taking the time

[2016-08-10 16:58] #150 closed

[2016-08-10 17:00] #137 closed

[2016-08-10 17:01] Nyholm commented on #123
Im closing this because of inactivity and that @DavidGarciaCat has provided an excellent answer.

[2016-08-10 17:01] #123 closed

[2016-08-11 04:05] Nyholm commented on #132
Have you created a campaign named `$this->campaign_code` before you send the email?

[2016-08-12 10:16] TrogWarZ commented on #116
Same here.

`composer.json`:
[code]

Code:
[code]

Email was **really sent**, but i see exception:
[code]

What i'm doing wrong?

[2016-08-13 20:14] Bogardo commented on #130
The main issue here is that the Mailgun API is not accessible on HTTP, only on HTTPS though the [source](https://github.com/mailgun/mailgun-php/blob/master/src/Mailgun/Connection/RestClient.php#L316) says otherwise.

[code]

When accessing the API over HTTP all requests return a 404 Not Found error.
This causes the `The endpoint you've tried to access does not exist. Check your URL.` errors.

I've

[2016-08-13 22:34] Nyholm commented on #130
This is not an "issue" =). HTTPS is secure and it always better than HTTP.

Yes, because you may use this client to connect to other APIs, not only Mailgun. Say you have a own MailgunProxy server. Or you want to debug request with httpbin or maybe you want to disable all request.

So, bottom line, Do always use HTTPS when talking to api.mailgun.net and if you having trouble verifying ssl certs (fo

[2016-08-13 22:52] Bogardo commented on #130
@Nyholm Thanks, that makes sense.

[2016-08-18 09:41] qwe356558603 opened #159 "problem : lists/pages how to use paging ,the skip is not working"
$result = $mgClient->get("lists/pages", array(
		    'limit'      =>  5,
		    'skip'=>2
		));
		p($result);
the skip is not working,i need a solution!!

[2016-08-18 10:08] Nyholm commented on #159
Skip does not work. That is correct.

[code]

If you var_dump the `$result` you get the following:

[code]

To make the next request you may:
[code]

[2016-08-18 10:08] #159 closed

[2016-08-22 02:23] qwe356558603 commented on #159
6666,  that is right !

[2016-08-24 07:50] massimilianobraglia opened #161 "Recipient-Variables and messages sent by temp file"
Hello,

Is it possible to use the `recipient-variables` while using the method `sendMessage` like this?

[code]

The email sent has not variables substitution.

Thanks in advance

[2016-08-24 09:16] Nyholm commented on #161
I do not know. Does it work when you run you code?

[2016-08-24 09:17] massimilianobraglia commented on #161
No, it does not. Is it a normal behaviour?

[2016-08-24 09:30] Nyholm commented on #161
Digging into the code. I see that there is no proper way to use this. That is weird.. Digging more into this I see that there has never been a way to support this.

I'll try to push a fix for this. But no not expect a PR form me this week.
If you want to give it a try Im happy to review your PR.

[2016-08-24 10:03] massimilianobraglia commented on #161
Thanks @Nyholm. Unfortunately, at this moment I don't have time to make a PR.

[2016-08-24 16:28] sagikazarmark opened #162 "Avoid lazy initialization"
In the RestClient both the HTTP Client and the message factory are lazily initialized: https://github.com/mailgun/mailgun-php/blob/master/src/Mailgun/Connection/RestClient.php#L290

This should generally be avoided and dependencies should be resolved preferably in the constructor.

Also, the message factory cannot be injected into client in any ways, which means that custom message factory impleme

[2016-08-30 12:19] murtraja opened #164 "slash in remote name considered as path"
while trying to attach a file having remote name "my file on 30/8/2016", i discovered that only 2016 gets reflected in the actual name
(@Nyholm , i know how to open issues but not how to have a failing test case as PR)

[2016-08-31 09:13] WietseWind opened #165 ".MSG attachments (Outlook mail export) are corrupted"
Fix suggested @ [multipart-stream-builder module](https://github.com/php-http/multipart-stream-builder/pull/11)

.MSG files contain multipart data since they are raw dumps of an e-mail. Mail API's like mailgun will send corrupt .msg attachments when the attachment is using the default mimetype.

[2016-08-31 09:20] Nyholm commented on #165
Thank you.
I understand that you want to attach a *.msg file but you will not get any Mime Type from the MultipartStreamBuilder. Is that the issue?

[2016-08-31 09:22] WietseWind commented on #165
It is, indeed, resulting in this:
P.S.
Before fix:
![](https://cdn.pbrd.co/images/fdenZfkyQ.png)
After fix:
![](https://cdn.pbrd.co/images/fdeSnqJmP.png)

[2016-08-31 09:37] Nyholm commented on #165
This will be fixed when php-http/multipart-stream-builder is tagged 0.1.2.

Im closing this issue for now. Thank you @WietseWind!

[2016-08-31 09:37] #165 closed

[2016-08-31 09:42] Nyholm commented on #30
Im closing this issue because of inactivity and because it has been a lots of rewrites of the design in the last year.
Feel free to open a new issue with some comments. I would be happy to discuss the current state.

[2016-08-31 09:42] #30 closed

[2016-08-31 09:47] Nyholm commented on #47
Is this still an issue in the latest version? When reading the code I can not see that the *client* limits you. But the API might...

Can this be closed?

[2016-08-31 09:47] Nyholm commented on #49
Is this still an issue in the latest version?

[2016-08-31 09:48] #65 closed, assigned to nobody

[2016-08-31 09:49] Nyholm commented on #67
This was fixed by #72

[2016-08-31 09:49] #67 closed

[2016-08-31 09:54] Nyholm commented on #76
This seams to be an issue with the API and not the API client.

Im going to close this issue. Please correct me if Im wrong and I'll be happy to open it again.

[2016-08-31 09:54] #76 closed

[2016-08-31 09:55] Nyholm commented on #82
Is this still an issue in the latest version of the client?

[2016-08-31 09:57] Nyholm commented on #83
Thank you for this info.

[2016-08-31 09:57] #83 closed

[2016-08-31 10:04] Nyholm commented on #84
Now (over a year later) there are things you could do to enable test mode.

0) You could use a different domain.
1) You could inject an HTTPlug client that does not send requests.
2) You could use the `AddHostPlugin` to change the target domain
3) You could use the  `AddHeaderPlugin` to add `o:testmode`
4) You could use a library like Swift to set a default delivery address. (Recommended only if y

[2016-08-31 10:04] #84 closed

[2016-08-31 10:05] Nyholm commented on #96
Im going to close this issue because of inactivity. Feel free to open a PR with this. That would be appreciated.

[2016-08-31 10:05] #96 closed

[2016-08-31 10:07] Nyholm commented on #105
Thank you for this issue. I think you are correct. This is not a problem with the client, it it a problem with the API server. You should talk to the support.

[2016-08-31 10:07] #105 closed

[2016-08-31 10:09] Nyholm commented on #124
Since 2.x of this library we are no longer coupled to Guzzle. You could use any HTTP messaging client. Since this seams like an issue with Guzzle I'll close this.

[2016-08-31 10:09] #124 closed

[2016-08-31 10:14] #69 closed

[2016-08-31 10:15] Nyholm commented on #165
I've just taggad 0.1.2.

[2016-09-01 12:52] Nyholm commented on #80
Im closing this issue because of inactivity. If this issue still exists in the latest version of the client, feel free to open another issue.

[2016-09-01 12:52] #80 closed

[2016-09-01 12:55] Nyholm commented on #111
This issue seams to be resolved.

[2016-09-01 12:55] #111 closed

[2016-09-01 12:56] Nyholm commented on #119
Thank you for the good answer @korshoj.

[2016-09-01 12:56] #119 closed

[2016-09-01 12:58] Nyholm commented on #125
Thank you for a good answer @DavidGarciaCat.

Im closing this issue because STMP is out of scope for this client and because an answer has been provided.

[2016-09-01 12:58] #125 closed

[2016-09-06 05:13] krystalcode opened #168 "Retrieving stored messages"
Hello,

Does this library provide functionality for retrieving stored messages? I can get the url from the 'events' endpoint, but then do I have to use another http library such as curl to get the messages? It would be nice to use the same library for all endpoints.

[2016-09-06 06:17] krystalcode commented on #168
Here's some code I came up with for getting stored messages via events API, in case anybody else is trying to figure it out. Warning: this is just a test, not production ready.

[code]

It's a bit tedious though and would need even more boilerplate to scroll through paged results and using time ranges etc., so it would be nice to have the library provide some functionality that helps with all that

[2016-09-06 11:50] Nyholm commented on #168
Hey.
Thank you for this. I believe this should be done in a more easy way.

[2016-09-12 01:29] qwe356558603 opened #169 "How to use a query"
$result = $mgClient->get("lists/$listAddress/members/pages", array(
    'subscribed' => 'yes',
    'limit'      =>  5
));

Due to too many malilist members, I want to query through the email address, can do it???
![image](https://cloud.githubusercontent.com/assets/18321666/18422317/b697392e-78cb-11e6-99a5-2c2be58166d3.png)

[2016-09-12 01:30] qwe356558603 commented on #169
![image](https://cloud.githubusercontent.com/assets/18321666/18422307/8a0e1c9c-78cb-11e6-99ad-2ec8b1ae7f3b.png)

[2016-09-12 16:44] jetsetting-stressball commented on #62
Just so everyone is aware, I worked this for a few days before figuring it out.  This was a good start.

The problem I had was that although my composer file had the Mailgun/Mailgun-php reference in it, I did NOT have the dependencies it needs.  See this page for more details:

https://github.com/mailgun/mailgun-php

The three additional references I had to add to my composer.json file, plus Mailg

[2016-09-12 16:50] Nyholm commented on #62
Hey @jetsetting-stressball.
Thank you for commenting on this issue. Though, it seams to be unrelated. (See dates for the original post).

About your issue and proposed solution: Did you read this section of the readme? https://github.com/mailgun/mailgun-php#why-requiring-so-many-packages
Have you seen the linked resource in that paragraph?

Composer must have given you a lot of error messages when

[2016-09-12 16:54] jetsetting-stressball commented on #62
Yup, I read that part of the readme.

Nope, composer didn't give me any errors trying to update.  That's why I was confused.

My original error was "Class 'Mailgun' not found", just like this post.  Searching for answers I came across this post.  It may not be perfectly related, but since I searched and found this page, I figured others may as well... and I'd hate for them to waste two days like I

[2016-09-12 17:33] Nyholm commented on #62
Interesting.

No need to apologize my friend. You've done nothing wrong. I too are trying to help you and anyone reading this thread after us. That's why I linked to resources, readme and told you about composer.

We should not steal this thread any more. Please open a new issue with your error message, composer file (before and after) and we'll make sure to find the cause of this issue.

[2016-09-13 19:53] gorgano commented on #21
I wasn't able to find any specification in the documentation on how to do this.  In case anyone was looking to do this, it appears you can just pass an array of attachments with the appropriate name fields to get named attachments:

           $attachments[] = [
                'remoteName' => 'nameofthefile.ext',
                'filePath' => '/path/to/the/file'
            ];

[2016-09-13 23:20] andrejmk opened #170 "Events result possible error"
When getting the events (event type: failed was tested), one of the properties returned is delivery-status, that it self contains 8 fields.

When I get the results with the SDK, that field is null, although on the logs on the site there is data. I tried with cURL and the delivery-status IS there with all the fields. But, when I do json_decode on the result, the delivery-status becomes null. So I g

[2016-09-18 20:29] DavidGarciaCat commented on #170
Hi @andrejmk

Quick question please: what is the content that you get when you call the API endpoint via cURL binnary (through command line), and what is the content you get (don't process it) via yout HTTP client?

Given my personal experience, is a good idea compare the results printing them (given this case is `php` you can use an `echo` statement, followed by `exit();` to print the content). I

[2016-09-18 20:31] DavidGarciaCat commented on #169
Hey @qwe356558603

I think that I understand what you want to do. However my first concern is the endpoint you're using, due I cannot see it on official MangoPay docs: https://documentation.mailgun.com/user_manual.html#mailing-lists

Where you ver that endpoint?

Regards,

[2016-09-18 20:33] DavidGarciaCat commented on #169
Hey @qwe356558603

I think that I understand what you want to do. However my first concern is the endpoint you're using, due I cannot see it on official Mailgun docs: https://documentation.mailgun.com/user_manual.html#mailing-lists

Where you get that endpoint?

Regards,

[2016-09-18 20:49] DavidGarciaCat commented on #164
hi @murtraja

Could you paste an example about how you're calling the API endpoint, attaching a file, and the provided response please?

Thanks,

[2016-09-18 20:51] andrejmk commented on #170
Hi @DavidGarciaCat

the results I get are the same in both cases, except for the delivery-status field. cURL returns the json string and the results are there. My point was that doing json_decode on the json string breaks the delivery-status field because of the dash in the name of the variable. The PHP SDK is doing the same thing, json_decode on the result and the delivery-status is NULL because

[2016-09-18 20:58] DavidGarciaCat commented on #170
Hi @andrejmk

If you get the expected response converting the response to an array instead of an object, at least you have not a very big blocker. However I understand your concern, IMHO OOP is much better than an array when we need to work with the provided data.

Let's see if we can provide a PR to fix this - in case the error is caused by the SDK - but if the problem comes from the API (I doubt

[2016-09-18 21:07] andrejmk commented on #170
@DavidGarciaCat I agree that OOP is better. The API is fine, the issue is json_decode and PHP, which does not support variable names with dashes in it. I don't have an idea for a fix at the moment, except returning an array.

Thanks,
Andrej

[2016-09-20 11:43] pbowyer opened #171 "Attaching Data to Batch Messages"
I am trying to attach data to messages sent with the BatchMessage class. The docs say:
![image](https://cloud.githubusercontent.com/assets/89852/18668748/2d4fb618-7f2f-11e6-87e0-1782b1057d8c.png)

I've tried assigning as custom parameters:
[code]
but they didn't show in the Mailgun Logs screen.

I tried JSON encoding before I sent, but it didn't show either:
[code]

I am guessing I need to map the

[2016-09-20 12:08] pbowyer commented on #171
I have also tried:
[code]

No placeholder substitution happens:
![image](https://cloud.githubusercontent.com/assets/89852/18669518/58bc81ce-7f33-11e6-8099-03a289c8b713.png)

[2016-09-27 05:21] newscloud commented on #168
I opened this with Mailgun 23 days ago - theyre working on it ... here's copies of their replies. No word since 9/13.

Hi Jeff,

It looks like the issue here is that when using a GET request with the SDK it assumes the baseURL is going to be api.mailgun.net instead of so.api.mailgun.net or si.api.mailgun.net.

I'm going to review this with the team to determine if this is the cause and will look i

[2016-09-27 05:26] Nyholm commented on #168
Thank you @newscloud. Keep this thread updates.

[2016-09-27 07:34] pbowyer commented on #171
Update: the second way I tried appears correct; it's populating the data on events (e.g. email opened). Just not when the emails are sent (the 'Received for sending' and 'Sent' updates)

[2016-09-27 07:34] #171 closed

[2016-09-27 09:47] Nyholm commented on #171
Thank you. Could you update the Readme with this information? Maybe create a FAQ section?

[2016-09-27 10:09] mits-techreceptives opened #174 "unable to get local issuer certificate"
I am getting below error :
GuzzleHttp\Exception\RequestException
cURL error 60: SSL certificate problem: unable to get local issuer certificate
↵
Caused by: GuzzleHttp\Ring\Exception\RingException

how to fix this ? what parameters i am missing during configuration ?
i set up as shown in doc but still it throws error.
i am on window localhost.

[2016-09-27 10:10] mits-techreceptives opened #175 "endpoint you've tried to access does not exist. Check your URL"
i am using mailgun yii2 extension which have mailgun-php .
when i am trying to sending mail , it throws below error:
Mailgun\Connection\Exceptions\MissingEndpoint
The endpoint you've tried to access does not exist. Check your URL.

Mailgun V3 i am using. and in mailgun php api , it trying to connect with api.mailgun.net endpoint.
so how to fix it ?

[2016-09-27 10:15] DavidGarciaCat commented on #174
IMHO if the error is caused by `GuzzleHttp\Ring\Exception\RingException` you should open an issue on Guzzle HTTP Client repository https://github.com/guzzle/guzzle given Mailgun is not the owner of that project. Regards,

[2016-09-27 10:20] DavidGarciaCat commented on #175
Reading your issue description and the README.md file I assume you're using this Framework Integration: [katanyoo/yii2-mailgun-mailer](https://github.com/katanyoo/yii2-mailgun-mailer) for Yii2

Given this case, you should open an issue on that repository, given `katanyoo` is not `mailgun` so Mailgun is not the owner of that framework integration.

Regards,

[2016-09-27 10:25] mits-techreceptives commented on #174
but the actual thing is , there is no any additional config setting for to set SSL => false .
it's directly handle by mailgun.php class file. so it causes this issue.

[2016-09-27 10:26] DavidGarciaCat commented on #174
Could you copy/paste the code that you're using to manage this request please?
[code]
so maybe we can check if this is really a Mailgun issue. Thanks,

[2016-09-27 10:27] mits-techreceptives commented on #175
I am using this one : https://github.com/boundstate/yii2-mailgun
but internally its making calling through mailgun-php package. so i thought to ask solution over here.

[2016-09-27 10:32] mits-techreceptives commented on #174
I am working on Yii2 based Web application.
below it's my configuration web.php file's setting:

'mailer' => [
			'class' => 'boundstate\mailgun\Mailer',
			'key' => 'key-valid-key-generatedfrom-rackspace-formailgun',
			'domain' => 'sandbox{valid-domain}.mailgun.org',
		],

below is my code to send mail:
Yii::$app->mailer->compose()
    ->setFrom('{valid-email}')
    ->setTo('{valid-email}')

[2016-09-27 10:33] DavidGarciaCat commented on #175
This is the Mailgun way to send an email:
[code]
And this is the one that you're using given the repository that you say you're using:
[code]

As you can see the Yii code is not the same than Mailgun code.

Given this case, you have 2 options:
1. Open an issue on https://github.com/boundstate/yii2-mailgun and wait to get an update
2. Use Mailgun-PHP repository and send emails using the original SD

[2016-09-27 10:44] mits-techreceptives commented on #174
does mailgun-php api support non-SSL connections server-side! ??

[2016-09-27 10:45] DavidGarciaCat commented on #174
So, if I understand your case, you're using an external repository to manage mail requests (a Framework integration) managed by another user instead of Mailgun (and community), you get an error message from an external package (GuzzleHttp instead of Mailgun) and you're expecting to get support from Mailgun (that is not the owner of the Framework integration that you're using or the HTTP Client tha

[2016-09-27 10:51] mits-techreceptives commented on #174
Yes agree....
but i am on my localhost on window machine. and with sendgrid / SES all are working with same way is perfect . so got surprised why this one not working with localhost without https ?

[2016-09-28 02:20] krystalcode commented on #168
A great improvement would be to provide an endpoint for retrieving the messages from multiple urls in one request. Say I am retrieving in a cron job the messages for 1 day, they may be hundreds or thousands of messages. Currently I would have to make a few requests for scrolling the events, and hundreds or thousands of requests for actually retrieving the messages.

Is this feasible to implement?

[2016-09-28 05:57] mithunjj opened #178 "Fatal error: Uncaught exception 'Mailgun\Connection\Exceptions\MissingEndpoint' with message 'The endpoint you've tried to access does not exist. Check your URL"
I'm not using any frameworks plain PHP only, just trying to integrate the official package.

I'm getting the following error:

**Fatal error: Uncaught exception 'Mailgun\Connection\Exceptions\MissingEndpoint' with message 'The endpoint you've tried to access does not exist. Check your URL**

I had tried:

1. Updating the package via Composer
2. Checked the API credentials

But in vain.

I'm runnin

[2016-09-28 07:29] Nyholm commented on #178
Have you tried with ssl enabled?

[2016-09-28 09:04] mithunjj commented on #178
In my local machine, there is no SSL so if I enable it, I'm getting the following error:

**Fatal error: Uncaught exception 'Http\Client\Exception\RequestException' with message 'SSL certificate problem: unable to get local issuer certificate'**

That's the reason why I've disabled it in the 1st place.

[2016-09-28 11:33] Nyholm commented on #178
I do not think there is an endpoint for "http://api.mailgun.net". It should be "https://api.mailgun.net". That is why you get "The endpoint you've tried to access does not exist. Check your URL".

You could configure your API client to not verify the certificate.

[2016-09-28 11:38] Nyholm commented on #168
I like that idea and I believe that is a direction we should investigate more in. I've labeled this issue and some more with a [Better API](https://github.com/mailgun/mailgun-php/milestone/1) milestone.

[2016-09-28 15:55] mithunjj commented on #178
If I don't verify the certificate, then I will get the first error.

The problem is happening on my Windows developer machine. Tried it on a Linux production server and all is well.

Any help is appreciated to make it work on the developer machine.

[2016-09-28 16:04] Nyholm commented on #178
It sounds like the easiest solution for you would be to install OpenSSL php extension on your local environment.

[2016-09-28 16:07] mithunjj commented on #178
OpenSSL php extension is already installed.

[2016-09-28 19:26] DavidGarciaCat commented on #178
And enabled too? I assume the answer is "yes" but I must ask because I saw in the past some people that were getting an OpenSSL error because the local PHP was not loading the extension.

Are you writing automated tests? If yes, what is the response when you run this process?

Cheers,

[2016-09-29 03:17] mithunjj commented on #178
I had enabled OpenSSL in XAMPP: http://www.qoncious.com/questions/enable-ssl-xampp-and-wampserver

No, I'm not writing automated tests.

[2016-09-30 07:18] mits-techreceptives commented on #130
@Nyholm  I am using https://packagist.org/packages/e96/yii2-mailgun-mailer this for my web app.
setup through composer , and it installed mailgun-php 1.8.
I am still on localhost , and facing same error as above : GuzzleHttp\Exception\RequestException
cURL error 60: SSL certificate problem: unable to get local issuer certificate
I created account on mailgun and set domain parameter and key paramet

[2016-09-30 07:31] Nyholm commented on #130
Im not too sure how you would do it in 1.8. That version does not give you so much control of the HTTP client.

[2016-09-30 07:33] Nyholm commented on #178
To disable verification of the SSL you may configure your HTTP client. Here is an example with Guzzle:

[code]

[2016-09-30 07:34] mits-techreceptives commented on #130
actually.. i have not installed and configure it but it was installed by composer's dependency .
i found this yii2 extension from google to use mailgun library in yii2 based app

[2016-09-30 07:35] narendravaghela commented on #174
If you want, you can install local ssl certificate. See below steps.

1. Open http://curl.haxx.se/ca/cacert.pem
2. Copy the entire page and save it as a "cacert.pem"
3. Open your php.ini file and insert or update the following line: curl.cainfo = "[pathtofile]\cacert.pem"

[2016-09-30 07:54] Nyholm commented on #174
I could agree that this issue is unrelated to the mailgun library. @mits-techreceptives Please use the latest version of the library that would give you more control over your HTTP client.

I've created https://github.com/mailgun/mailgun-php/pull/179 to note that `setSslEnabled` should not be used.

If you have issues on your localhost with verify SSL. You could follow the advice given in this thr

[2016-09-30 07:54] #174 closed

[2016-09-30 07:54] #178 closed

[2016-09-30 07:57] Nyholm commented on #175
This issue is related to #130 and #174.

@mits-techreceptives Please do not comment on multiple issues/thread with same problem.

Thank you @DavidGarciaCat for your answers.

[2016-09-30 07:57] #175 closed

[2016-09-30 09:09] mits-techreceptives commented on #175
@Nyholm  yeah.. sorry man !! as in hurry .. forget this one

[2016-10-03 20:59] mackenziexD opened #180 "Fatal error"
any ideas?

<b>Fatal error</b>:  Uncaught exception 'Http\Discovery\Exception\PuliUnavailableException' with message 'Puli Factory is not available' in C:\xampp\htdocs\CMS\vendor\php-http\discovery\src\Strategy\PuliBetaStrategy.php:39

Stack trace:
#0 C:\xampp\htdocs\CMS\vendor\php-http\discovery\src\Strategy\PuliBetaStrategy.php(64): Http\Discovery\Strategy\PuliBetaStrategy::getPuliFactory()
#1 C

[2016-10-04 07:14] Nyholm commented on #180
Have a look here: http://docs.php-http.org/en/latest/discovery.html#strategies and here: http://docs.php-http.org/en/latest/discovery.html#puli-factory-is-not-available

Are you running the latest version of this library and version 1.0 of php-http/discovery?

[2016-10-11 07:48] pouu69 opened #181 "How do you know the 'batch' results?"
After the mass mailing would like to know the number of successes.

[2016-10-11 09:32] Nyholm commented on #181
That is a great idea. But Im not sure the API tells you that, does it?

[2016-10-12 18:12] mstralka opened #182 "Mailgun\Connection\RestClient is still using API v2 instead of v3"
It appears the PHP library is still using the older version of the API.  Is there a branch that uses v3?

The [Mailgun API documentation](https://documentation.mailgun.com/api-intro.html#base-url) shows the Base URL as `v3` of the API:
[code]

However, the `RestClient` class is using v2, which means many of the available API calls, like [unsubscribes](https://documentation.mailgun.com/api-suppress

[2016-10-12 18:20] mstralka commented on #182
Never mind, I see that the `Mailgun` class has a `setApiVersion()` method I can use.

[2016-10-12 18:20] #182 closed

[2016-10-12 22:53] jrodom commented on #168
we've just hired a new developer, @pirogoeth who is working on this issue now.

[2016-10-12 23:01] pirogoeth commented on #168
@Nyholm I'm working on this issue right now -- do you have any ideas on the best way to implement this?

[2016-10-13 04:50] Nyholm commented on #168
I do only have ideas and thoughts. Maybe we could have a quick call to figure out a proposal for how we solve the "better API" milestone.
Send me an email och ping me on twitter

[2016-10-13 09:02] Nyholm commented on #182
Thank you. We should consider updating to version 3. Ping @pirogoeth

[2016-10-13 19:26] pirogoeth commented on #168
@Nyholm Actually, could you send me an email? We can get a call going tomorrow and figure out a plan of action for the "better API" milestone. You can get me at sean@mailgun.com

[2016-10-13 20:39] Nyholm commented on #168
I've sent you an email. I'll stick around for a few more minutes. It is getting late here.

[2016-10-14 04:39] pirogoeth opened #185 "Enhance the test suite.."
This library is in need of some integration test cases. I think adding a solid suite of cases will make development easier in the future.. So this is kinda high priority.

[2016-10-14 09:36] Nyholm commented on #185
That would require an Mailgun API key, Travis encryption so we do not show that API key. It would also require something from Mailgun to disable ALL delivery form this test account.

[2016-10-14 18:13] Nyholm opened #186 "My thoughts for a new API"
Here are my thoughts for the completing the [Better API milestone](https://github.com/mailgun/mailgun-php/milestone/1).

I believe we can make the api client much easier to work with and much easier to maintain. I’ve been looking at 20+ big API clients and there are basically 3 ways you can make a client.

1. Pure HTTP: Does only provide authentication and a `client::api(string $url, array $params

[2016-10-14 20:33] DavidGarciaCat commented on #186
Hey @Nyholm

Here you are my impressions. Please feel free to discuss them:

### Classes

I think the new classes, based on the API Reference, is a good idea. It will help to identify easily how the API and this client is built.

Also, I would like to think an easy way to manage multiple domains using a single Mailgun instanced object, so maybe we should consider about an `API\Client` class, that

[2016-10-14 20:53] Nyholm commented on #186
Thank you very much for your thoughts.

### Classes

I think we should reuse the same `Mailgun` and `HttpClient`. As long as you use 6 different **domains** and not API keys it would be no problem.

### Dependencies

I disagree with that. What if a user does not like `guzzlehttp/psr7`. That implementation has some bugs and are not 100% compatible with PSR-7. (Partly my responsibility though... Im

[2016-10-14 21:17] DavidGarciaCat commented on #186
### Classes

👍

### Dependencies

👍

I understand your point with the dependencies. I usually use - for example - Buzz HTTP Client because I think is a light and simple HTTP Client but I have used Guzzle too, and both of them are working well.

Maybe keeping this "open" we can provide a more flexible environment, specially if a project is already using a specific HTTP Client.

### Interfaces

👍

T

[2016-10-14 21:23] Nyholm commented on #186
Are you talking about a `\stdClass` or should we define a class for each return type?

[2016-10-14 21:34] DavidGarciaCat commented on #186
Well, an easy way to build a `\stdClass` is just run the `json_decode()` but that is a generic object, and does not contain a known map or references to each property. If we need to provide an object this is already offering it.

However, I think a DTO object is a better approach here. In the end, when we call the Message API endpoint (for example) we know the data that we are going to return (bec

[2016-10-14 21:40] Nyholm commented on #186
You are probably correct. The only argument I have against that is high maintainability cost. Let's try it :)

[2016-10-14 22:15] pirogoeth opened #187 "Create Domains API"
Includes request dispatcher and any request//response models necessary.

[2016-10-14 22:15] pirogoeth opened #188 "Create Events API"
Includes request dispatcher and any request//response models necessary.

[2016-10-14 22:16] pirogoeth opened #189 "Create Webhooks API"
Includes request dispatcher and any request//response models necessary.

[2016-10-14 22:17] pirogoeth opened #190 "Create Routes API"
Includes request dispatcher and any request//response models necessary.

[2016-10-14 22:18] pirogoeth opened #191 "Create Email Validation API"
Includes request dispatcher and any request//response models necessary.

[2016-10-14 22:33] DavidGarciaCat commented on #191
If you're going to use this issue to validate email addresses, please consider to use this project https://github.com/egulias/EmailValidator instead of build a completely new validator. This one is a well established package and offers several options to validate email addresses.

[2016-10-14 22:38] Nyholm commented on #191
There is a API endpoint for that: https://documentation.mailgun.com/api-email-validation.html

(Even though I believe that egulias email validator should be used all the time.. ) =)

[2016-10-14 22:44] Nyholm opened #193 "Investigate in shared components for API responses"
We should have a look at the [API reference](https://documentation.mailgun.com/api_reference.html). What shared format is there in the responses? Could we make something smart with class inheritance to reduce the code duplication?

[2016-10-14 23:09] DavidGarciaCat commented on #191
Yeah, I know about that endpoint. The reason to use the egulias email validator is just to prevent unnecessary API calls (in the end it means a more healthy service on both sides: local code can return an invalid email address what it means we won't need to send an API request and we will save time, and the API won't get an email validation request that we already know that will fail).

[2016-10-15 14:37] sagikazarmark commented on #186
Here are a few thoughts of mine:

## Classes & Interfaces

Personally I prefer having a proper domain model so that any transport detail is completely hidden from me. I also like the idea of having interfaces (actually I do it in of my clients). Here is a simple representation:

[code]

Explanation: There is a Client facade interface which holds the list of resources (eg. API\Message in @Nyholm 's

[2016-10-16 14:19] Nyholm commented on #186
Thank you Mark for your input. I agree and like what you are saying except:

I believe we could be okey without the interfaces. Especially since the Client is very decoupled from the Mailgun Class.

While reading your comment I came up with an idea.

We should be able to provide different serializers. One Psr7ResponseSerializer, one ArraySerializer and one DomainModelSerializer. We could use them

[2016-10-17 00:22] pouu69 commented on #181
It includes API, which certainly offers not know.

can U make it ?

[2016-10-17 01:18] pouu69 opened #197 "if you send the same email domain, not convert %recipient.email%"
ex)
[code]
if you send the same email domain, not convert %recipient.email%

do you know why ?

[2016-10-17 07:37] Nyholm commented on #181
Im not too sure what you mean here. Can you please elaborate?

[2016-10-17 07:40] pouu69 commented on #181
mailgun api is not provided.
so, how can i make for results?

[2016-10-17 07:55] Nyholm commented on #181
What do you mean that it is not provided?
Have a look at the API reference: https://documentation.mailgun.com/api_reference.html

When you sending mass emails, what does the API server respond?
If it responds with the number of successes, we (the client) should support it.

What does the documentation say?

[2016-10-24 13:23] Nyholm opened #199 "Update to webmozart/assert 1.2"
We have already prepared for webmozart/assert 1.2 in #192. We just need to update composer.json.

We are currently blocked by: https://github.com/webmozart/assert/pull/20

[2016-10-24 22:20] sagikazarmark commented on #186
@Nyholm here comes some of my thoughts about the recently merged #192:

## Naming

I am usually bad at naming, but I have a few ideas on this front:

- AbstractApi: instead of Abstract I would rather reflect somehow that it is the HTTP foundation of the API client. HttpApi? Abstract prefix is evil anyway
- ResponseDeserializer: it's quite weird that it is stored in a property called "serializer",

[2016-10-25 00:49] jasonmccreary commented on #116
Received the same issue, Google led me here, installed mailgun-php version 2.1.2...

[2016-10-25 04:23] Nyholm opened #200 "Rename abstract API to HttpApi"
HttpApi is more descriptive. See https://github.com/mailgun/mailgun-php/issues/186#issuecomment-255882949

[2016-10-25 04:32] Nyholm opened #201 "Is "deserialization" the correct name?"
As Mark pointed out in https://github.com/mailgun/mailgun-php/issues/186#issuecomment-255882949 "deserialization" might not be the correct name.

Serialization or marshalling is when you turn an object into a format that can be stored. ([source](https://en.m.wikipedia.org/wiki/Serialization)). The reverse process is deserialization or unmarshalling.

An other concept is "normalization" that we mig

[2016-10-25 04:34] Nyholm opened #202 "Make the php calls reflect the api"
We want to make calls like:
`$mailgun->stats()->total()`

This means we should rename "getStatsApi()" to "stats()".

Related to: https://github.com/mailgun/mailgun-php/issues/186#issuecomment-255882949

[2016-10-25 04:35] Nyholm opened #203 "Better name for "CreatableFromArray"?"
ArrayConstructable?

Ref: https://github.com/mailgun/mailgun-php/issues/186#issuecomment-255882949

[2016-10-25 04:37] Nyholm opened #204 "Rename "ObjectSerializer""
Be a bit more specific. DomainSerializer? ModelSerialzer?

Ref: https://github.com/mailgun/mailgun-php/issues/186#issuecomment-255882949

[2016-10-25 06:01] Nyholm commented on #116
Have a look at the documentation for Httplug: http://docs.php-http.org/en/latest/discovery.html#puli-factory-is-not-available

Also, Are you running php-http/discovery > 1.0?
Have you installed the message factories? php-http/message
Have you installed a client? php-http/curl-client
Have you installed a PSR7 implementation? guzzlehttp/psr7

[2016-10-25 07:30] Nyholm opened #205 "Review the HttpClientConfigurator"
Are we happy with a class like that? It's purpose is to create a HTTPClient.

Should we load that class with other HTTP related stuff like a RequestFactory and the MultipartStreamBuilder?

Related to https://github.com/mailgun/mailgun-php/issues/186#issuecomment-255882949

[2016-10-25 07:31] Nyholm opened #206 "The serializer concept"
From https://github.com/mailgun/mailgun-php/issues/186#issuecomment-255882949

[2016-10-25 07:35] Nyholm commented on #186
Thank you for the input. I've created many smaller/more focused issues for your thoughts. I do agree with most of them.

Im going to close this issue now and let the 7 issues be open.

[2016-10-25 07:35] #186 closed

[2016-10-25 14:51] omaismbakop opened #207 "Could not find package php-http/guzzle6-adapter at any version matching your PHP version 5.3.3.0"
HI,
While running this command
`php composer.phar require mailgun/mailgun-php php-http/curl-client guzzlehttp/psr7`
i am getting this error on server

[2016-10-25 15:01] Nyholm commented on #207
It seams like you have `php-http/guzzle6-adapter` in your composer.json from before. Try removing that.

(and also, update your PHP version. There are children going to school that were not born at the time of that PHP version was released 😄  )

[2016-10-25 20:59] DavidGarciaCat commented on #203
`CreateFromArray` instead of `CreatableFromArray`?

[2016-10-25 21:06] DavidGarciaCat commented on #207
@Nyholm
Crystal clear 👍

@omaismbakop
Please have a look to Mailgun PHP required version `php: ^5.5|^7.0` (PHP 5.3 is not supported)
https://packagist.org/packages/mailgun/mailgun-php

[2016-10-26 00:59] jasonmccreary commented on #116
Yes. Version 1.1.

Yes, I installed `php-http/guzzle6-adapter` and adjusted the code per the comments above to get it working.

I think it was just unclear from the comments here, docs, and common `composer install` practices what I needed to do to get it working.

[2016-10-27 09:30] omaismbakop commented on #207
I've updated to php 5.5  , but still have this error

[2016-10-27 21:22] DavidGarciaCat commented on #207
@omaismbakop I can see that you have tried to install `dev-master`, but it is currently hosting a major update, and is not a good idea to use this version. Please consider to use a stable version.

Last stable release is 2.1.2 https://packagist.org/packages/mailgun/mailgun-php

[2016-10-27 21:26] omaismbakop commented on #207
@DavidGarciaCat  i followed these instructions. But had issue with that, now i set this
`{
	"require":{
	"mailgun/mailgun-php": "dev-master"
	}
}`
in composer.json and have above problem. For stable release, what i need to set in composer.json?

[2016-10-27 23:51] DavidGarciaCat commented on #207
@omaismbakop instead of `dev-master` just type the version - this is an example:
[code]
Then update your composer package with `composer update mailgun/mailgun-php`

Another option is:
1. remove the current `mailgun` package from your `composer.json` file; then
2. run `composer require mailgun/mailgun-php` and composer will set the version for you

Please read `composer` docs if you need more deta

[2016-10-27 23:54] DavidGarciaCat commented on #207
@omaismbakop please double check your PHP version running this command `php -v`

Given the picture that you posted on that link, you're still using PHP 5.3.3:

![image](https://cloud.githubusercontent.com/assets/7809429/19789612/0022285a-9ca9-11e6-95dd-eb07354845c6.png)

[2016-10-28 06:48] omaismbakop commented on #207
Worked now, receiving email. Thanks All.

[2016-10-28 06:48] #207 closed

[2016-10-28 06:56] Nyholm commented on #207
I'm glad it worked for you.

Great support David!

[2016-10-28 08:06] DavidGarciaCat commented on #207
Anytime!

[2016-11-04 09:40] ThatBenderGuy opened #210 "MissingEndpoint Error"
I am attempting to use this to send an email to a user when they register but I get this error

this is the code in my start.php file
[code]
my mailer class
[code]
and my Message class
[code]

and lastly the snippet that's throwing the error
[code]
I have not added any extra classes/plugins/extensions/etc.. to Mailgun and am running vanilla Mailgun. I am trying to use a sandbox domain on mailgun o

[2016-11-05 10:15] Nyholm commented on #210
The API does not exist at http://api.mailgun.net. It only exist at https://api.mailgun.net. The `setSslEnabled` is deprecated and should not be used.

Btw, I see that you are using the Slim framework. The latest version of Httplug discovery and message supports slims PSR7 implementation so there is no need for Guzzlehttp/PSR7.

[2016-11-05 10:15] #210 closed

[2016-11-05 10:34] Nyholm commented on #203
But it is an interface.. `CreateFromArray::createFromArray()` sounds weird. =)

[2016-11-05 10:35] Nyholm commented on #187
Im going to close this as #187 is merged.

[2016-11-05 10:35] #187 closed

[2016-11-07 13:13] kevkrei opened #211 "It is not possible to deliver mails to an address with german umlauts."
If I try to send a mail to an address like "exämple@test.de" with the mailgun-php api, the response is:

**The parameters passed to the API were invalid. Check your inputs! 'to' parameter is not a valid address. please check documentation**

I use mailgun-php version 2.1.2

[2016-11-07 13:19] Nyholm commented on #211
That seams to be correct. That address violates RFC5322. See section 3.23: https://tools.ietf.org/html/rfc5322#section-3.2.3

[2016-11-07 13:19] #211 closed

[2016-11-09 21:22] pirogoeth commented on #203
`Deserializable` or possibly `Buildable` since we're building an object given some data?

[2016-11-09 21:31] Nyholm commented on #203
Or we may say `ApiResponse` and `ApiResponse::create` the response builds it self an possible list items?

[2016-11-09 21:52] DavidGarciaCat commented on #203
I like @Nyholm approach here: `ApiResponse::create()` IMO it makes an easy way to call the resource. Of course, if the idea is to use a "generic method" to create the response, several checks are needed to ensure what type of response should be created if the idea is to map the response with known objects, because if the idea is to convert the JSON to an array/object then the `json_decode()` is al

[2016-11-09 21:56] Nyholm commented on #203
Im talking about an interface.

[code]

We have our serializers as a "generic method" to create a response.

[2016-11-11 20:20] Nyholm commented on #200
As @pirogoeth mentioned in https://github.com/mailgun/mailgun-php/pull/212#issuecomment-260044899

We should rename methods here as well to `http*`

[2016-11-11 20:53] #203 closed

[2016-11-11 21:03] Nyholm commented on #201
I think "deserialization" is the correct name.

[2016-11-11 21:23] pirogoeth commented on #201
Agreed. I had changed this in my alternative API pull request. I think I will get out a PR to fix this issue soon.

[2016-11-11 21:25] #204 closed

[2016-11-11 21:25] #200 closed

[2016-11-12 01:51] #201 closed

[2016-11-12 21:01] Nyholm commented on #205
Im happy. Other HTTP related stuff should be in a RequestBuilder

[2016-11-12 21:52] Nyholm commented on #193
After some research: Nothing. Nothing (or very little) can be shared. We should go with a clean approach to increase readability. Ie, We should not try to share anything between APIs or API requests.

[2016-11-12 21:52] #193 closed

[2016-11-12 21:56] DavidGarciaCat commented on #193
I'm sorry to hear that

[2016-11-12 21:56] Nyholm commented on #197
I do not really understand the question or your code example. Could you please elaborate?

[2016-11-12 21:59] Nyholm commented on #193
So am I. But that's how it is.. =)

[2016-11-12 22:01] DavidGarciaCat commented on #197
I think what @pouu69 says is that emails from/to the same domain are causing a conflict.
My doubt here is if @pouu69 is setting that value properly.

@pouu69 as @Nyholm said, can you elaborate please? Maybe a "real" example?

[2016-11-12 22:08] Nyholm opened #218 "Remove deprecated code"
When we want to release 3.0 we should remove all deprecated code (of course). This issue is just a gentle reminder.

[2016-11-12 22:09] Nyholm opened #219 "Use PSR-4"
Instead of PSR-0, we should use PSR-4.
This change is considered as BC breaking so we should not do it until we are ready for 3.0.

[2016-11-12 22:10] Nyholm commented on #180
Im closing this because of inactivity.

[2016-11-12 22:10] #180 closed

[2016-11-13 02:45] DavidGarciaCat commented on #219
@Nyholm What is the major BC breaking that we can find here? What is the main reason to wait?

According to www.php-fig.org and specially on [PSR-4: Autoloader](http://www.php-fig.org/psr/psr-4/) page "This PSR describes a specification for autoloading classes from file paths. It is fully interoperable, and can be used in addition to any other autoloading specification, including PSR-0. This PSR a

[2016-11-13 09:45] Nyholm commented on #219
If someone for some weird reson have written something like this in their code, it wont work:
[code]

The new path would be. `vendor/mailgun/mailgun-php/src/Mailgun.php`

[2016-11-13 10:36] DavidGarciaCat commented on #219
I never did something like this, but - in the end - this "someone" will get the same error after apply the PSR-4. By other side, stable releases are still using PSR-0 so as far the user don't download the `dev-master` branch all should work as expected.

[2016-11-16 04:14] krystalcode opened #221 "Set headers"
Hello,

I need to set the Accept header for retrieving the full raw mime message (https://documentation.mailgun.com/api-sending.html#retrieving-stored-messages). This is currently not possible with the Mailgun client, I would have to build a request with Guzzle or similar.

A solution could be to add an $options array as a last argument to the get/post etc. methods where I could pass $options['hea

[2016-11-16 12:45] DavidGarciaCat commented on #221
@Nyholm what do you think? can we add a new feature to set custom headers as part of the new SDK update? Cheers,

[2016-11-17 00:55] inorganik opened #222 "Puli factory is not available"
Hi, I'm trying to use the method which adds a member to a mailing list:

    $result = $mgClient->post("lists/$listAddress/members", array( ... ));

However it's throwing this:

I tried wiping the composer and vendor files, and reinstalling them to no avail. Is there a fix for this? Thanks.

[2016-11-17 09:36] DavidGarciaCat commented on #222
Hello @inorganik

Gould you please tell us what PHP version you're using?
Also the Mailgun SDK version that you have installed through composer?

Thanks,

[2016-11-17 13:44] inorganik commented on #222
Sure, I'm using php v5.5.9.
Mailgun v2.1.2

[2016-11-17 14:00] Nyholm commented on #222
What version of php-http/discovery are you using?
Do you have puli installed?

[2016-11-17 15:39] inorganik commented on #222
The [Mailgun docs](https://documentation.mailgun.com/libraries.html#php) say to do these 2 steps - that's what I did.

    curl -sS https://getcomposer.org/installer | php
    php composer.phar require mailgun/mailgun-php:~x.x

[2016-11-17 15:44] Nyholm commented on #222
Have a look at the docs here: https://github.com/mailgun/mailgun-php/tree/v2.1.2
I have an [open pull request](https://github.com/mailgun/documentation/pull/187) to change those docs. (Maybe @pirogoeth can help?)

What you miss is a http client, message factories and a PSR-7 implementation.

According to the updated docs you should run:

[code]

[2016-11-17 15:52] inorganik commented on #222
Thank you, that worked.

Btw, that's a crazy amount of dependencies for making a curl request.

[2016-11-17 15:52] #222 closed

[2016-11-17 16:03] Nyholm commented on #222
Okey, great.

Yes, it is. But all of them are very small, stable and SOLID. We do not want to be opinionated what HTTPclient or what PSR-7 implementation you should use.

[2016-11-23 20:36] Nyholm opened #223 "Update StyleCI"
There is a config in StyleCI which allows you to set file headers.

We should use that to force the following header:

[code]

[2016-11-23 20:55] #205 closed

[2016-11-23 20:57] Nyholm commented on #162
Thank you. This is fixed in dev-master.

[2016-11-23 20:57] #162 closed

[2016-11-23 21:04] Nyholm opened #225 "Argument validation on API results"
When the API answers with something unexpected we throw an `InvalidArgumentException` on the user. Which means that the user should retry the API call with different parameters. That is wrong. The user did not do anything wrong. It was either the API or our API client that has made some misstakes.

In my opinion there is two possible solutions:
 1. Throw an `ServerAnsweredSomethingUnexpectedExcept

[2016-11-23 21:18] pirogoeth commented on #225
I also agree with 2. I think that if we just have to return the "best guess" response, we should log it / throw a warning noting that the user should probably file an issue here because `x`, `y`, or `z` is broken.

[2016-11-23 21:18] Nyholm commented on #206
I like this solution. I believe that the "correct" way of doing it would be to remove the deserialzer form the `AbstractApi`:

[code]

But the code above is not really DX. I suggest "no change" and keep what currently in master.

Do we have any other input?

[2016-11-23 21:19] pirogoeth commented on #223
Aye, I'll look in to it!

[2016-11-23 21:21] #202 closed

[2016-11-23 21:22] Nyholm commented on #225
Agreed!

[2016-11-23 21:28] pirogoeth commented on #206
I think what we've got in master works fine. It makes sense and keeps the request process concise.

[2016-11-23 21:28] Nyholm commented on #206
Good good. Im closing this issue then.

[2016-11-23 22:02] #223 closed

[2016-11-24 06:30] #199 closed

[2016-11-24 08:18] Nyholm opened #232 "Enable Scrutinizer"
We can get nice code coverage and code quality score.

https://scrutinizer-ci.com/

Create a user and then create a Mailgun organisation. Then you only need to add this repo, select PHP language and we are done. (We should not run tests)

[2016-11-24 08:58] Nyholm opened #235 "Improve the integration tests"
I believe we have to rethink the integration tests. Everybody should be able to run them without risking that they will mess up their account.
Is also seams like they are set up to an account that has some predefined state.

TODOs:
 * [ ] Write documentation how to run the tests
 * [ ] Do not test server response messages
 * [ ] Maybe integration tests only should be used for key request, like sen

[2016-11-24 09:15] DavidGarciaCat commented on #235
As a good practice, write test first, then fix the code to provide the expected behaviour described in those tests.

[2016-11-24 17:18] pirogoeth commented on #232
Great idea! Done!

https://scrutinizer-ci.com/g/mailgun/mailgun-php/

[2016-11-24 17:41] Nyholm commented on #232
Awesome!

[2016-11-24 17:41] #232 closed

[2016-11-24 18:08] DavidGarciaCat commented on #232
Don't forget to add the Scrutinizer CI config file to set the expected inspection behaviour and get the code coverage too 😄

[2016-11-24 18:33] Nyholm commented on #232
Config is added in master. Coverage will show as soon as the build is green in master.

[2016-11-25 15:17] Nyholm commented on #221
Yes, We should definitely support this. I'll add the milestone "Better API" to this issue.

[2016-12-06 09:11] Nyholm commented on #225
Closed by #230

[2016-12-06 09:11] #225 closed

[2016-12-06 19:26] Nyholm commented on #188
I have an idea how to make pagination awesome :)
I want to try if it works.

[2016-12-06 20:24] pirogoeth commented on #188
Absolutely! I'm excited to see what you've got!

[2016-12-07 10:57] lahiru1991 commented on #17
Is it still not supported ?

[2016-12-07 14:19] Nyholm commented on #17
Have a try with dev-master and open a new issue if you still can't make it work.

[2016-12-07 18:03] #188 closed

[2016-12-07 19:42] #189 closed

[2016-12-07 19:55] Nyholm commented on #128
Check out the Event's API implementation. That is how we will do pagination. See #245

[2016-12-07 19:55] #128 closed

[2016-12-07 22:07] Nyholm opened #248 "Remove dependency on php-http/message"

[2016-12-07 22:09] Nyholm commented on #168
I've created a PR #247 that will solve this issue.

[2016-12-07 22:29] #168 closed

[2016-12-08 00:15] Nyholm commented on #221
Have a look at the new [MessageApi](https://github.com/mailgun/mailgun-php/blob/master/src/Mailgun/Api/Message.php#L82)

It is now supported to fetch the complete message.

[2016-12-08 00:15] #221 closed

[2016-12-09 21:13] DavidGarciaCat opened #251 "Scrutinizer CI - Duplication (false positive)"
Hey there,

Can we disable just the `Duplication` check on Scrutinizer CI? It throws a lot of false positive alerts due there are 2 files (or 2 variables) using the same name. Its annoying...

Thanks!

[2016-12-09 21:53] Nyholm opened #253 "Make Message::Show() support ContentIdMap and Attachments."
Related to #250

[2016-12-09 22:20] Nyholm commented on #190
Closed by #249

[2016-12-09 22:20] #190 closed

[2016-12-20 19:54] jameskraus opened #254 "Adding custom header - add a non-array value"
Right now adding a custom header adds the value as an array:

[code]

Why isn't it just:

`$this->message[$headerName] = $headerData;`

Because right now I get weird headers like this:

`X-Auto-Response-Suppress[0]: All`

When I call it like this:

`$thing->addCustomHeader('X-Auto-Response-Suppress', 'All');`

[2016-12-20 22:23] jameskraus opened #256 "Running style lint"
It would be helpful to include an example of how to run the style lint for the project so I can be sure my contributions will pass styleci before commiting/pushing. If it isn't already a one-liner, it would be helpful to add a script to the composer.json to run it easily.

[2016-12-20 23:28] DavidGarciaCat commented on #256
Hi @jameskraus

In fact, Style CI is just checking if the PR is applying al PSR-FIG (PSR-1 & PSR-2, AKA Code Style) standards, so as far as you follow them, you should not get the error.

The only requirement that we have is the custom header/annotation, that is shared on all files. And yes, I agree that "is annoying" to get a Style CI error just because of that comment, but we try to work followi

[2016-12-21 05:21] Nyholm commented on #256
Im running https://github.com/FriendsOfPHP/PHP-CS-Fixer on my code regularly. It fixes most of the things StyleCI complains about

[2016-12-21 20:57] Nyholm opened #257 "Add tags API"
https://documentation.mailgun.com/api-tags.html#tags

[2017-01-05 03:40] NolanMG commented on #47
This can be closed. Version 2 of our Bounce API only allowed a maximum limit of 300 addresses. Verison 3 of the Suppression API (https://documentation.mailgun.com/api-suppressions.html#view-all-bounces) allows for 10,000.

Currently, mailgun-php calls version 2 and will error if the limit is set over 300. Quoting Sergey on pull request #129 "Some endpoints still support only v2 and not v3 e.g. /v2

[2017-01-05 11:47] Nyholm opened #258 "Add suppressions API"

[2017-01-05 11:48] Nyholm commented on #47
Thank you for the response @NolanMG.

I've added #258 to make sure we support the suppressions API in the next version of the API client.

[2017-01-05 11:48] #47 closed

[2017-01-07 14:12] ivanjaros commented on #254
Just encountered this issue myself. Yeah, that should be string since docs expect string, not array: https://documentation.mailgun.com/api-sending.html#sending

[2017-01-07 14:53] ivanjaros opened #259 "Line breaks ignored"
Hi,
I am sending email(s) to gmail and all break lines are missing. I am using the message builder. I have tried to set only html version, I have tried to replace `\n` with `<br>` but nothing helps.

I think this might have something to do with forced header `Content-Transfer-Encoding: quoted-printable` that cannot be overridden. I also have `format=flowed` in Content-Type header which is stripped

[2017-01-07 15:04] Nyholm commented on #259
Can it be that Gmail intrepid the message as HTML which means that line breaks does not matter.

Try sending messages with a mime file and use HTML in that file.

[2017-01-07 15:20] ivanjaros commented on #259
Ok, so what worked in the end is using only the `\Mailgun\Messages\MessageBuilder::setHtmlBody` without `\Mailgun\Messages\MessageBuilder::setTextBody` and replacing `\n` with `<br>`.

[2017-01-07 18:09] DavidGarciaCat commented on #259
Hello @ivanjaros

Although is a good practice provide both contents (html & plain text), all major webmail and desktop clients are allowing nowadays HTML content (even those that have been built by Microsoft), so I believe you can ignore the plain text context, specially if the problem appears just on Gmail.

Also, usually, when an email client cannot read HTML content, the content is displayed as

[2017-01-12 15:35] niccross opened #260 "BatchMessage RECIPIENT_COUNT_LIMIT Issue"
When sending a batch with `$autoSend = true`, if recipients exceed the `Api::RECIPIENT_COUNT_LIMIT`, a `TooManyParameters` exception is thrown. I believe this to be due to `MessageBuilder->addToRecipient` having duplicated validation effort on `RECIPIENT_COUT_LIMIT`. The solution may be to override `MesageBuilder->addToRecipient` in `BatchMessage` without checking the `RECIPIENT_COUNT_LIMIT`.

For

[2017-01-13 07:52] ArsenBespalov opened #261 "The parameters passed to the API were invalid. Check your inputs!"
**After send 2 mail, show this error:**

[code]

I use this code:
[code]

[2017-01-13 09:49] DavidGarciaCat commented on #261
Hello @ArsenBespalov

What Mailgun SDK version are you using?

Thanks,

[2017-01-13 09:53] ArsenBespalov commented on #261
Hi, @DavidGarciaCat!

I use old version, after update it's correctly work.

Thanks.

[2017-01-13 09:53] #261 closed

[2017-01-13 14:26] Savageman opened #262 "Wrong content when retrieving an attachment."
Hello,

The response handler always automatically try to decode the content body with `json_decode()`. This has a side effect when retriving an attachment whose content starts with digits.

I have an email attachment which looks like this: `2.500#tons#more#of#binary#data` and the result I get with `$mailgun->get($attachment_url)` is a `(float) 2.5` rather than the whole `(string) "2.500#tons#more#

[2017-01-13 17:36] pbowyer opened #263 "New release?"
There's been some fantastic changes since 2.1.2 was released in August 2016 (e.g. the Events API, which I'm excited about!).

For us using Composer, can we have a new tagged release soon, so we can avoid using `dev-master`? Thanks.

[2017-01-14 08:55] Nyholm commented on #263
Thank you.
There are a few issues that should be taken care of first. See https://github.com/mailgun/mailgun-php/milestone/1

We aslo have to make sure we are happy with the current structure and the new classes we introduced. Me and Mark has been working hard on a side project to display "what is the optimal http client". We might want to take a few concepts from there before we tagg a release. S

[2017-01-17 12:23] #260 closed

[2017-01-19 14:18] pbowyer commented on #188
Feedback from using: the pagination and API are excellent.

One task I wanted to do I cannot: that is to get the original JSON that created the Event, or serialize the Event. From reading the code this looks as if it'll be an issue with all the new classes.

One solution is to add a `toArray` trait; is there anything implemented I've overlooked?

[2017-01-19 14:27] Nyholm commented on #188
If you do not want to use all these new classes you can pass a different serializer to the Client's constructor. Using the JsonSerializer will allow you to get the Json response back.

[2017-01-19 14:37] pbowyer commented on #188
Ah but I do want to use the new classes, they are much easier to work with 😄 My use-case is that I want to store all the data for future re-processing, and there's no way to get to it. `json_encode($event)` doesn't work, nor does `json_encode(get_object_vars($event))` (rightly so).

Is that clearer? I've got:

[code]

[2017-01-19 14:39] Nyholm opened #267 "Make it possible to get the raw response"
From: @pbowyer

My use-case is that I want to store all the data for future re-processing, and there's no way to get to it. `json_encode($event)` doesn't work, nor does `json_encode(get_object_vars($event))` (rightly so).

Is that clearer? I've got:

[code]

Related to https://github.com/mailgun/mailgun-php/issues/188#issuecomment-273792159

[2017-01-19 14:39] Nyholm commented on #188
That is a fair use caste. Thank you. I've created a new ticket for that. See #267

[2017-01-24 21:37] coldlamper opened #270 "Double quotes in from address"
If I set the from address like
[code]
or
[code]
I get and API response message from mailgun like

If I use
[code]
It works fine.

Maybe the code here https://github.com/mailgun/mailgun-php/blob/master/src/Mailgun/Messages/MessageBuilder.php#L105
[code]
should use double quotes around the full name instead of single quotes. Maybe there is a reason not to do that?

[2017-01-25 01:35] DavidGarciaCat commented on #270
Hello @coldlamper

Due you have found a solution, do you mind please to add a PR + PHPUnit tests to fix it?

Thanks,

[2017-01-30 08:47] drodil opened #272 "MessageBuilder fails to add recipients"
When adding recipients through MessageBuilder class the following fatal error is thrown:

Only variables can be passed by reference @ /var/www/vendor/mailgun/mailgun-php/src/Mailgun/Messages/MessageBuilder.php (line: 140)

MailGun PHP library 2.1 is in use. The line is: end($this->message['to']);
PHP Version 7.0.14

[2017-01-30 09:16] DavidGarciaCat commented on #272
Hello @drodil

Can you check if you're using the latest version please? It should be `2.1.2`
Are you getting the same error using this version?

Thanks,

[2017-01-30 10:40] drodil commented on #272
Hi @DavidGarciaCat

Installed it with composer according to the documentation. The composer.json has the following line for the mailgun-php:

"mailgun/mailgun-php": "^2.1",

So I would trust that it is the latest version through composer. I think it relates to PHP E_STRICT error handling flag set as enabled.

[2017-01-30 13:19] DavidGarciaCat commented on #272
Hi @drodil

Based on your comment, then yes, you should have the latest version.

Can you paste here an example about how you're calling the Message Builder and the parameters that you're providing please? The more details you give us the sooner we'll find a solution.

You can give us all parameters that you're sending, just obfuscate the private data like your API Key or the email address that yo

[2017-02-01 10:00] DevNIX commented on #21
This feature should be documented

[2017-02-01 10:04] Nyholm opened #273 "Document how to set attachment name"
See https://github.com/mailgun/mailgun-php/issues/21

[2017-02-01 10:05] Nyholm commented on #21
Thank you @DevNIX. I've created an issue for that. If you want, you are free to create a PR for this.

[2017-02-05 07:41] mreiden commented on #270
So #274 does not pass tests, but it works a lot better for me.  Needs more testing as I just started using MailGun this week and this is one of my first attempts using BatchMessage.  I haven't tested it without using BatchMessage, but thought it might help solve your problem if it works.

[2017-02-13 08:49] s22su opened #276 "Getting attachment doesn't work"
Currently Mailgun API provides attachments as an array with full attachment URL.

Example:

`
[
  {
    "url": "https://se.api.mailgun.net/v3/domains/XXX/messages/XXX/attachments/0",
    "content-type": "image/jpeg",
    "name": "IMG_123.jpg",
    "size": 1545628
  }
]
`

It is not possible to get attachment using current RestClient::get method as it adds API URL (api.mailgun.net) and API version

[2017-02-13 11:44] s22su commented on #276
Closed. See #277 for information.

[2017-02-15 16:36] z38 opened #281 "Unable to create a new route"
I tried to create a new route using the new API:
[code]

However, an error is returned (even though the expression is sent):
[code]

[2017-02-18 08:44] Nyholm commented on #206
I want to reopen this issue. In the [FriendsOfAPI boilerplate](https://github.com/FriendsOfApi/boilerplate) we renamed the deserializers to "hydrator". We should do the same thing here.

[2017-02-18 17:42] Nyholm opened #287 "Improve safeDeserialize"
Make sure to catch all common errors and throw exceptions.

Related to #276

[2017-02-18 17:43] Nyholm opened #288 "Make sure all models are final"

[2017-02-18 17:44] Nyholm opened #289 "Move models to new namespace"
Move them from `Resources\Api` to `Model`

[2017-02-18 17:48] Nyholm commented on #267
The KnpGithub API has a function like `GitHub::getLatestResponse`. We could use a plugin like that to fix this issue.

[2017-02-18 19:45] yosmanyga opened #290 "Allow to send emails with empty body"
Currently if I send an email with `text = ''` if get the error ` The parameters passed to the API were invalid. Check your inputs! Need at least one of 'text' or 'html' parameters specified`.

If think that the system should allow to send emails with empty body.

[2017-02-18 20:06] DavidGarciaCat commented on #290
Hi @yosmanyga

Maybe I misunderstand your purpose, but I don't think this is right for 2 reasons:

1. As you said, the error says `The parameters passed to the API...` and this PHP code is the Mailgun SDK - not the Mailgun API - so even if we check/review/update the code of this SDK (in case there is a problem here, and I think this is not the case based on your comment) then Mailgun API will thro

[2017-02-18 20:43] yosmanyga commented on #290
Hi @DavidGarciaCat , thanks for your quick answer.

That's correct. The error comes from the API. So this ticket can be closed. But, I suggest that the error message should be different. Something like: `The parameters passed to the API were invalid. Check your inputs! Empty 'text' or 'html' parameters are not allowed`.

Ok, I will follow your advice about SPAM flagging, so the body will never be

[2017-02-18 23:19] DavidGarciaCat commented on #290
Hi @yosmanyga

No problem. Feel free to close the ticket yourself, if you think is now solved. 😄

Ping @Nyholm and @pirogoeth

Any thoughts about these error messages? If they're provided by the API then I am not sure how easy will be to manage or customise them...

[2017-02-18 23:25] DavidGarciaCat commented on #267
@Nyholm I can see you're "everywhere" 😄
Definitively that could be an inspiration for this issue.

[2017-02-19 12:44] Nyholm commented on #290
As you say, the error message is from the API server. There is nothing we can do about it. :/

[2017-02-19 12:44] #290 closed

[2017-02-20 20:04] pirogoeth commented on #258
Merged to master :)

[2017-02-20 20:04] #258 closed

[2017-02-20 20:05] pirogoeth commented on #257
Almost ready to merge to master, closing :)

[2017-02-20 20:05] #257 closed

[2017-02-21 09:58] MichalHanajik commented on #289
Sent PR #293

[2017-02-21 21:51] MichalHanajik commented on #288
Any tips which models are pretty sure extendable?
Marking all of them makes all [tests pass](https://travis-ci.org/MichalHanajik/mailgun-php/builds/203978868) 😄

[2017-02-22 12:41] Nyholm commented on #288
Hm... Then it is okey =)

[2017-02-22 19:25] MichalHanajik commented on #288
I'll send it as PR and then we will see if there will be some updates :)

[2017-02-23 19:57] #288 closed

[2017-02-23 19:57] #289 closed

[2017-02-28 07:16] Nyholm commented on #276
Closed by #277

Thank you @s22su

[2017-02-28 07:16] #276 closed

[2017-03-01 10:56] cklm opened #298 "multiple fopen, which are never closed"
Hi, in src/Mailgun/Connection/RestClient.php are two `fopen`-functions, which are not closed. Sending over 1.000 mails in serial line leads to the following error:
`[Http\Client\Exception\NetworkException]
error:02001018:system library:fopen:Too many open files`

Is it possible to safely close the two fopens, or are they needed in another place?

[2017-03-01 12:16] Nyholm commented on #298
I believe it is safe to close it. Can you send a PR?

[2017-03-12 23:09] ilnicki opened #299 "Can not override h:reply-to using setReplyToAddress"
Because it throws an exception "array_push() expects parameter 1 to be array, string given" on 114 line in Mailgun\Messages\MessageBuilder.

[2017-03-13 11:25] schlesie opened #301 "function 'addToRecipient' is not working like described"
Hi

on your mailgun messages page you list the possible functions and show an example how to use them. In the example "Usage - Batch Message" there is a multiple function call "addToRecipient".

[code]

So I have done somethin similar, just don't using the attributes array.

[code]

BUT, this won't work. Only the second e-mail address is sent to mailgun. But if I just call the function once with a

[2017-03-14 04:12] Nyholm commented on #299
Thank you for this issue. @z38 ha created a patch that will fix this. See #300

[2017-03-14 15:51] #299 closed

[2017-03-16 02:26] csmtcy opened #302 "Using IIS server works fine in local but error on server : cURL error 77"
The library is completely fine in local development but failed on server.
I can't do any changes on server, may i know how to fix this ? Thanks.

[code]

[2017-03-16 06:23] Nyholm commented on #302
That is a common error on Windows. You have to download a new certificate and att it to php.ini.

The error is not related to Mailgun but to curl. Read more about it on the link in the error message or if you google "curl error 77 windows"

[2017-03-16 06:23] #302 closed

[2017-03-21 18:43] dszakal opened #303 "Attachment won't work with guzzle6"
Old project with Guzzle 5.1 - attachment works
New project pulled Guzzle 6.0 with composer - attachment won't work

Also composer package missing requirement.

The syntax shown on site:
https://documentation.mailgun.com/api-sending.html#examples
https://imgur.com/a/Web8t

Just won't work anymore :(

From guzzle's side it's intended, but unclear from doc how to use that array differently:
https://g

[2017-03-21 22:30] DavidGarciaCat commented on #303
Hello @dszakal

## composer package missing requirement

I presume you mean the Guzzle HTTP Client.

As discussed here https://github.com/mailgun/mailgun-php/issues/186 we are not requireing a specific HTTP client. Force the developer to use Guzzle (or Buzz or any other HTTP Client) is not our goal, and could be a blocker if a developer is not happy with Guzzle or if Guzzle cannot be used on a spe

[2017-03-21 22:38] dszakal commented on #303
Thanks for the info.

Could you please then suggest a replacement to use instead of guzzle, where the curl/http library's latest version is tested with mailgun-php?

[2017-03-21 22:46] DavidGarciaCat commented on #303
We will try to have a look and we will decide based on what we can see.

Please refer to the README file here https://github.com/mailgun/mailgun-php#installation

![image](https://cloud.githubusercontent.com/assets/7809429/24174356/1be04648-0e88-11e7-9a51-50ebb9006385.png)

[2017-03-21 22:51] dszakal commented on #303
Please allow me to confirm - the linked readme does not suggest any httplug implementation to use instead of guzzle. Any suggestions on an httplug implementation you tested ever with mailgun-php to replace guzzle with?

[2017-03-22 02:20] DavidGarciaCat commented on #303
As you can see `The Mailgun api client is not hard coupled to Guzzle or any other library that sends HTTP messages.`. Anyway, new SDK major update is in progress, so we will review the README file too.

[2017-03-22 06:44] #206 closed

[2017-03-22 06:55] dszakal commented on #303
I understood that line and I left my comment there because that didn't answer my question about how to make the line stated in your api documentation working. As the line immediately after that line you quoted suggests us to install guzzle as an example, and... you know the rest.

So this is not about "did not read the manual" from my side. My question is something not stated there.

You only test

[2017-03-22 11:52] z38 commented on #303
I tried to replicate this issue and tested the following adapters:
* `php-http/curl-client` (v1.7.0)
* `php-http/guzzle5-adapter` (v1.0.0)
* `php-http/guzzle6-adapter` (v1.1.1)
In all cases, two attachments were received (as expected).

@dszakal Did you get any error messages when sending the message? Could you check the logs in the Mailgun control panel to see if the message was received and deli

[2017-03-22 12:59] dszakal commented on #303
Sorry everyone, we can close it, I mistyped a bracket. And in the other project that bracket was good, and I didn't notice.

I did

            $mg->sendMessage($domain, array('from'    => $this->getSenderEmail(),
                                    'to'      => $this->getRecipientEmail(),
                                    'subject' => $this->getSubject(),
                                    'ht

[2017-03-22 13:39] DavidGarciaCat commented on #303
Hi @dszakal

Please feel free to close this issue, you opened it so you can close it.

@z38 thanks for testing!

Cheers,

[2017-03-22 13:41] #303 closed

[2017-03-26 08:17] #267 closed

[2017-03-26 08:17] #287 closed

[2017-03-26 11:37] z38 opened #311 "Reading error messages programmatically"
During rebasing my PR #294, I noticed that after applying [#307 Improving safe hydrate](https://github.com/mailgun/mailgun-php/pull/307) it's no longer possible to get the exact error message the server returned. The exception thrown only contains a generic HTTP response object.

Should these messages made available again for everyone or should we just decode them in our integration testsuite for

[2017-03-26 13:04] Nyholm commented on #311
Thank you for making this issue.

If you get an error we throw an exception. The exception has the PSR7 response. You could always do the following ot get the response from Mailgun.

[code]

Tell me more about your use case. Why are you interested in the response from the server? How do you use it?

[2017-03-26 13:31] z38 commented on #311
The [integration testsuite](https://github.com/mailgun/mailgun-php/tree/master/tests/Integration) of this library used it to check whether the error message from the server was the one we expected.

On second thought, it might be sufficient to just verify that the correct exception is thrown at all.

[2017-03-26 14:14] Nyholm commented on #281
Closed by #313

[2017-03-26 14:14] #281 closed

[2017-03-26 14:26] Nyholm commented on #113
Reading the docs for mailing lists: The parameter "subscribed" accepts "yes" and "no". There is no boolean value.

Also, the mailing list API is deprecated.

[2017-03-26 14:26] #113 closed

[2017-03-26 14:26] Nyholm commented on #49
Closing because of inactivity.

[2017-03-26 14:26] #49 closed

[2017-03-26 14:28] Nyholm commented on #70
Hey. Sorry for the very late response.

Mailgun (@pirogoeth) could correct me if Im wrong but the Campaign API is deprecated in favor for the Tag API.

[2017-03-26 14:28] #70 closed

[2017-03-26 14:42] #253 closed

[2017-03-26 15:18] z38 commented on #311
So, as we don't need to this internally ([comment in #294](https://github.com/mailgun/mailgun-php/pull/294#issuecomment-289288448), I think we can close this issue for now.

@Nyholm I leave it up to you if you want to merge or close #312.

[2017-03-26 15:18] #311 closed

[2017-03-26 15:26] Nyholm commented on #311
I think it is a use for #312 because it may contain some details. Ie on 400: which parameter is invalid etc.

[2017-03-28 13:14] gaurav16694 opened #320 "issue with webhooks"
hi i am facing issue while using the webhooks for the events..as i am getting the message-id response in webhook for event like delivery but i am not getting message_id response in webhook for the open and clicks event..please look into the issue.

[2017-03-28 13:26] Nyholm commented on #320
Have you tried the new API in dev-master?

[2017-03-28 18:41] z38 commented on #320
@gaurav16694 Getting the message ID from events such as open, clicks, ... is currently not documented. However, as of today there is a field `message-id` (note: lowercase) which includes the message ID without brackets. As it's not documented, this feature might disappear in the future.

[2017-03-28 18:44] z38 opened #321 "Unable to verify/handle webhooks with the new API"
`Mailgun::verifyWebhookSignature()` is deprecated and will be removed in 3.0. `Mailgun\Api\Webhook` does not offer this functionality yet. It might be worth investigating if the received events should be parsed and wrapped in models too.

[2017-03-28 20:21] DavidGarciaCat commented on #321
Thanks @z38 - We will try to keep this in mind before the new release is tagged officially.

[2017-03-29 09:26] jawizie commented on #87
I install with composure but i am having a similar issue

[2017-03-29 10:28] Nyholm commented on #87
@jawizie This is a very old issue. Please open a new one if you experiencing problems.

[2017-03-29 10:41] Nyholm commented on #321
Agreed. Lets create a function in the new API for verify webhook signature.

[2017-03-29 11:20] jawizie opened #322 "MailgunClient class undefined after composer install"
![capture2](https://cloud.githubusercontent.com/assets/23170833/24452209/6ab512b2-1482-11e7-8b1b-de8c81ecc172.JPG)

[2017-03-29 11:26] Nyholm commented on #322
There is no "MailgunClient" class in this project. Also, that is not what your error message says. You are using wrong parameters when you query the API

[2017-03-29 11:26] #322 closed

[2017-03-30 00:54] ryanharnwell opened #323 "Call to undefined method Mailgun\Mailgun::create()"
Great plugin team!

I am using the shared host install method, the shared host is running PHP version: 5.4.45 (https://github.com/mailgun/mailgun-php/blob/master/SharedHostInstall.md)

On my MAC (php version 5.4.24) I run the following:
php composer.phar require mailgun/mailgun-php:~1.8.0

Then I get the "vendor" folder and pop it on the shared host web server.

Then I call it from my php file:
[c

[2017-03-30 01:03] DavidGarciaCat commented on #323
Hi @ryanharnwell

Firstly, this SDK requires PHP 5.5 as you can see if you check the `composer.json` file:
https://github.com/mailgun/mailgun-php/blob/master/composer.json#L5

Secondly, regarding the undefined method, as you can see if you inspect the file (link below) the method exists, so it should be related with your PHP version. Please bear in mind you will need to provide your API Key too:
h

[2017-03-30 02:28] ryanharnwell commented on #323
@DavidGarciaCat thanks for the speedy reply.

I am only using the Mac to download the "vendor" folder.

I have bumped the web server version from 5.4.45 to 5.5.38.

On the Mac I have run:
[code]
I have then run:
`php composer.phar require mailgun/mailgun-php:~2.1.2`
(note 2.1.2 this time not 1.8.0)

Then I again got the "vendor" folder and uploaded to the web server...

Then I call it from my php

[2017-03-30 05:46] Nyholm commented on #323
I think you are mixing up versions. You are downloading version 1.8 and reading documentation for 2.2. Here is the docs for 1.8: https://github.com/mailgun/mailgun-php/tree/v1.8

Also: You should really consider updating PHP locally and in prod. You may also want to look into deploying using Capistrano.

[2017-03-30 23:02] ryanharnwell commented on #323
Thanks for that, I have rolled back to 1.8 and am now calling via:

[code]

And all is good! Thanks again.

I think there needs to be clearer documentation regarding which version of mailgun-php to use with which version of php.

[2017-03-30 23:02] #323 closed

[2017-03-31 10:49] Nyholm commented on #323
Great.

We do state that the docs are for dev-master. Also, that is how Github README works. You can always read the README of the package you are downloading. That will always match the downloaded source.

Have a nice weekend!

![screen shot 2017-03-31 at 12 45 30](https://cloud.githubusercontent.com/assets/1275206/24547503/78473a38-1610-11e7-8dce-02cd148c3abe.png)

[2017-04-05 13:35] neokio opened #324 "outdated multipart-stream-builder"
This isn't an issue so much as a reminder (and soothing my "must have the latest version of everything" OCD).

[code]

[2017-04-05 13:41] Nyholm commented on #324
Thank you. This is fixed in master. We allow both 0.1.0 and 0.2.0.

FYI: I will tag a stable version of `php-http/multipart-stream-builder` before the summer (if no major issues comes up).

[2017-04-05 13:41] #324 closed

[2017-04-06 07:39] #320 closed

[2017-04-07 18:50] Nyholm opened #326 "Review Complaint::create"
It has arguments not in use

[2017-04-07 19:12] Nyholm opened #327 "Review pagination"

[2017-04-07 19:30] #327 closed

[2017-04-07 19:52] #326 closed

[2017-04-07 21:04] jameskraus commented on #254
PR was merged.

[2017-04-07 21:04] #254 closed

[2017-04-07 23:29] #321 closed

[2017-04-08 08:44] #273 closed

[2017-04-08 08:44] Nyholm commented on #263
We will tag a new release this weekend.

[2017-04-08 09:24] #263 closed

[2017-04-11 07:00] Nyholm opened #343 "Update StyleCi file headers"
They should read:

[code]

According to the copyright law Mailgun automatically have copyright for X (50?) years. We should only specify the year we first created this library. There is no need to have the current year.

[2017-04-25 19:20] vanzay opened #346 "There is no endpoint while class instantiation"
Hi, the following code doesn't work
[code]
because httpClient tries to send message directly to '/v3/%s/messages' (without endpoint).
Instead of that I should use
[code]
It's confusing.

[2017-04-25 19:38] Nyholm commented on #346
Correct. You should not use the Mailgun::__construct. See the readme: https://github.com/mailgun/mailgun-php#usage

[2017-04-26 08:09] vanzay commented on #346
It would be useful to add this info to the readme. As well as example of using custom httpclient.

[2017-05-01 15:54] joshpennington commented on #82
I am having the same issue. Here is my code (using Laravel):

`$email_message = 'This is a test email';
        $mailgun = new Mailgun(config('mail.mailgun_key'), new Client());

        $message = $mailgun->MessageBuilder();
        $message->setFromAddress(config('mail.from_address'));

        foreach(config('mail.donation_request_recipients') as $recipient) {
            $message->addToRecipie

[2017-05-02 06:46] Nyholm commented on #82
Thank you @joshpennington. Can you try with the latest version of the api and with the new signatures?

You have to use the new factory method and then follow these examples: https://github.com/mailgun/mailgun-php/blob/master/doc/attachments.md#attachments

[code]

[2017-05-02 06:53] Nyholm commented on #346
The readme is updated with info of how you create an instance of the Mailgun class. The code is also documented with `@deprecation` notices. I just added a PR to be more clear that the constructor is for internal use only. See #347

[2017-05-02 06:53] #346 closed

[2017-05-02 08:10] DavidGarciaCat commented on #346
Hey @Nyholm - What about an update to make it a `private constructor` to be sure developers are using the named constructor we have?

[2017-05-02 08:14] Nyholm commented on #346
Making it private would be a BC break. But otherwise it would be a good solution. See #347

[2017-05-02 08:16] DavidGarciaCat commented on #346
I already added a review, I checked that PR after add a comment here. Thanks!

[2017-05-04 18:58] joshpennington commented on #82
Using that new factory method gives me the following error:

Call to undefined method Mailgun\Mailgun::create()

Is there a new version I should be using? In my composer file I currently have `"mailgun/mailgun-php": "^2.1",` for MailGun

[2017-05-04 19:15] joshpennington commented on #82
I just updated to 2.3 and now I am getting the following error message:

`Call to undefined method Mailgun\Mailgun::message()`

Looking at the class I see there is no method called message. I see a sendMessage method that looks like it would work but it is deprecated.

My new code looks like this:

`
$mg = Mailgun::create(config('mail.mailgun_key'));

        $mg->message()->send('example.com', [

[2017-05-04 19:20] joshpennington commented on #82
I found my issue. The method name is messages() and not message().

Things are working as expected now. Thank you

[2017-05-05 08:40] jayeshm66 opened #348 "from name and email together not sending"
If i am sending from parameter like below
'from'    => 'name mailgun@domain.com',
its giving error : Uncaught exception 'Mailgun\\Connection\\Exceptions\\MissingEndpoint' with message 'The endpoint you've tried to access does not exist. Check your URL

but below is going fine
'from'    => 'mailgun@domain.com',

How can i send from name then

[2017-05-05 08:50] Nyholm commented on #348
Are you using the factory method?
See example here: https://github.com/mailgun/mailgun-php#usage

[2017-05-05 08:54] jayeshm66 commented on #348
exactly as it is i am using,

But dont have '**name'** parameter

[2017-05-05 09:10] jayeshm66 commented on #348
It was going till 2 days ago perfectly, i think sendgrid updated API

[2017-05-05 09:13] Nyholm commented on #348
Can you paste your code here?

`'from' => 'name <mailgun@domain.com>',`

[2017-05-05 09:40] jayeshm66 commented on #348
[code]
Ref: [](https://documentation.mailgun.com/quickstart-sending.html#send-via-api)

[2017-05-05 13:57] z38 commented on #348
The problem might be the `<>` brackets which are part of the syntax and not some kind of placeholder. So, if you want to send an email to `mailgun@domain.com`, the call should look like this:
[code]

[2017-05-11 15:01] elonmir opened #350 "Mails get combined..."
I was migrating the old mailgun integration to the new api version, and stumbled upon an very interesting bug.

If I follow your demo code, it work's fine, for a single message.
[code]

So for sending another message that would mean...

[code]

Well... the outcome is not as expected.

![image](https://cloud.githubusercontent.com/assets/1140767/25956249/7fd2c328-366b-11e7-9ad2-c32f41882dcc.png)

I

[2017-05-11 15:29] Nyholm commented on #350
Hm. That sure is an interesting bug. I cant understand why you getting only one email with double content.

[code]
What happens if you check the response of A before you start sending next one?

[2017-05-11 15:36] elonmir commented on #350
![image](https://cloud.githubusercontent.com/assets/1140767/25958193/526e63ce-3670-11e7-9d0e-a3db0ddcf6b5.png)

Same outcome...

[2017-05-11 15:37] elonmir commented on #350
Same outcome...

![image](https://cloud.githubusercontent.com/assets/1140767/25958282/877eba0a-3670-11e7-8262-f5e3118ae731.png)

[2017-05-11 15:38] Nyholm commented on #350
Is it different IDs?

[2017-05-11 15:39] elonmir commented on #350
Yes... that was the first thing I checked. I assumed that the mix up happens in our service, but that wasn't the case.

[2017-05-11 15:39] Nyholm commented on #350
Do you get two emails or one email?
What does the mailgun log on the dashboard say?

[2017-05-11 15:40] Nyholm commented on #350
Oh, If the second email has both contents then it makes sense, is that the case?

[2017-05-11 15:42] elonmir commented on #350
Sorry to disappoint you, I get to separate mails. The first one is ok, the second one gets concanated.

![image](https://cloud.githubusercontent.com/assets/1140767/25958537/2437dbe2-3671-11e7-8b34-3b200128cd6d.png)

Mailgun logs indicate to separate mails, with different content.

[2017-05-11 15:46] Nyholm commented on #350
Can you try https://github.com/mailgun/mailgun-php/pull/351?

[2017-05-11 15:48] elonmir commented on #350
Yes, works.

[2017-05-11 15:49] Nyholm commented on #350
Awesome.

Thank you for reporting this!

[2017-05-11 15:51] elonmir commented on #350
Do you have a timeline for a new release? Otherwise I have to manually implement the fix.

[2017-05-11 15:52] #350 closed

[2017-05-11 15:54] Nyholm commented on #350
I've tagged 2.3.1 now.

We do not really have timelines. We try to group features for minor releases. There is no point in waiting to release patches like this one.

[2017-05-13 15:14] jayeshm66 commented on #348
Thanks @z38
Got it, `<>` are little confusing

[2017-05-13 15:15] #348 closed

[2017-05-16 13:24] Nyholm opened #353 "Improve MessageBuilder to make it use the new API"
Investigate if we need a new class or if we can use the existing one.

[2017-05-16 13:24] Nyholm opened #354 "Improve BatchMessage to make it use the new API"
Investigate if we need a new class or if we can use the existing one.

[2017-05-18 21:14] MACscr opened #355 "How to set Reply To address?"
I'm sending an email like so, but haven't really figured out the 'reply-to' part yet as it does not appear to get sent. I'm using mailgun to send lead form results to our office manager and I want them to be able to reply directly to the email address the user entered in the form.

[code]

[2017-05-18 22:27] DavidGarciaCat commented on #355
Hi @MACscr

Based on official Mailgun API docs here https://documentation.mailgun.com/api-sending.html#sending you can specify the `Reply-to` option, but it must be defined as `h:X-My-Header`:

<img width="833" alt="screen shot 2017-05-18 at 23 24 40" src="https://cloud.githubusercontent.com/assets/7809429/26225880/48e36c44-3c21-11e7-9766-49dfb564db86.png">

Please confirm if this is working on yo

[2017-05-18 23:16] MACscr commented on #355
That did it. Thanks!

[2017-05-19 00:10] DavidGarciaCat commented on #355
If the issue is now resolved, please feel free to close it. Cheers,

[2017-05-19 05:47] #355 closed

[2017-05-22 10:02] TemirkhanN opened #357 "Unit tests enhancement"
For some reason I am not agree with way unit tests been written.
Could you look for difference and tell your point of view?
[
https://github.com/TemirkhanN/mailgun-php/blob/tests-enhancement/tests/RequestBuilderTest.php](
https://github.com/TemirkhanN/mailgun-php/blob/tests-enhancement/tests/RequestBuilderTest.php)

[2017-05-22 10:17] Nyholm commented on #357
You are correct. The current tests are more like functionality tests. They are testing that the output is correct. You are testing the input.

Please send a PR.

[2017-05-22 11:21] TemirkhanN commented on #357
There must be some way to divide unit, functional and integration tests.. For now directory structure(tests) makes namespace collision that prevents code-coverage rising.

[2017-05-22 11:47] Nyholm commented on #357
Closed by #358

[2017-05-22 11:47] #357 closed

[2017-05-26 06:20] bupy7 opened #359 "Debugging mode and hydrator"
Hi, everyone.
I enabled debugging mode with configuration:

[code]

After every request I get `Mailgun\Exception\HydrationException` with the message `The ModelHydrator cannot hydrate response with Content-Type: text/html;charset=utf-8`. I think that endpoint cannot uses `application/json` header or there is sent `text/html` header ever. I didn't recognize yet.

Should I use `Mailgun\Hydrator\Noop

[2017-05-26 06:37] Nyholm commented on #359
Oh. That's right. I never thought about that before. Try using the PSR7ResponseHydrator.

The readme about the debugging should be updated.

//Tobias Nyholm

[2017-05-26 06:43] bupy7 commented on #359
@Nyholm I want be use `ModelHydrator` because only header have `text/html` Content-Type but response body is JSON.

[2017-05-26 06:53] bupy7 commented on #359
Body in debug mode:
[code]

[2017-05-31 14:09] bupy7 opened #360 "They made integration with Zend Framework 3"
Hi! They made integration with ZF3 framework https://github.com/bupy7/zf-mailgun

[2017-05-31 14:32] Nyholm commented on #360
Hey.
That sure looks great. I assume that you want it to be listed under the "Framework Integration" section.
We have a unmentioned policy that integrations should be "defacto standards" within the community. I've turned down a couple of other integrations because they just had a couple of thousand downloads.

I would be happy to add your (or "their") integration. But make sure it gets somewhat po

[2017-06-03 10:05] #360 closed

[2017-06-06 08:04] Nyholm commented on #359
You should create your own Hydrator (just copy ModelHydrator) that ignores the Content-Type header.

[2017-06-06 08:05] bupy7 commented on #359
@Nyholm I so did. =)

[2017-06-06 08:06] Nyholm commented on #359
Great!

[2017-06-06 08:06] #359 closed

[2017-06-19 19:47] dmagoo opened #364 "webhooks()->index() no longer working"
The create method of /Model/Webhook/IndexResponse.php expects an array of webhook urls keyed by type. { 'bounce' => bounce_url, 'spam' => spam_url, etc }.  This data is being passed in, but it is wrapped in another array as follows: {'webhooks' => { 'bounce' => bounce_url, 'spam' => spam_url, etc }}.

[2017-06-20 19:55] maximzasorin opened #366 "Method for verify domain"
There is endpoint PUT /domains/\<domain>/verify for check domain DNS records, but not exists same method in the SDK.

[2017-06-20 20:07] maximzasorin opened #367 "Cached values of DNS records"
For GET /domain/\<domain> and PUT /domain/\<domain>/verify endpoints API returns current values of DNS records, it stored in cached property, but it not represented in SDK.

[2017-06-20 20:13] Nyholm commented on #367
I'm not sure what you mean by "cached properly". Would you mind to elaborate?

[2017-06-20 20:19] maximzasorin commented on #367
@Nyholm for GET /domain/\<domain> I get this response:

[code]

In issue I mean `cached` with current values of DNS records.

[2017-06-20 20:22] Nyholm commented on #367
Ah. I see. I have not seen that before. Could you make a PR? I would be happy to review it.

[2017-06-20 20:30] maximzasorin commented on #367
Maybe it is undocumented feature and not need in SDK, how you think?

[2017-06-20 20:35] Nyholm commented on #367
I think it is new and "soon to be documented". Maybe @pirogoeth can confirm?

I think we should support it.

[2017-06-21 18:10] #367 closed

[2017-06-21 18:12] Nyholm commented on #366
Thanks. Do you mind to submit a PR?

[2017-06-22 14:15] AdnanHussainTurki opened #369 "The parameters passed to the API were invalid. Check your inputs! : When sending mail to a mailing list"
I am trying to send a message to a mailing list.

My code is
`# First, instantiate the SDK with your API credentials
$mailgun = Mailgun::create(<--MYAPIKEY---->);

# Now, compose and send your message.
$mailgun->messages()->send("sandboxc----------------614.mailgun.org", [
  'from'    => 'adnan@myphpnotes.tk',
  'to'      => 'mylist@sandb----------614.mailgun.org',
  'subject' => 'The PHP SDK is a

[2017-06-22 14:25] Nyholm commented on #369
What code do you use when sending to mailing list?

//Tobias Nyholm

Skickat på språng

[2017-06-22 14:27] AdnanHussainTurki commented on #369
@Nyholm same code.
I am just changing to parameter to mailing list as shown.

[2017-06-22 17:35] #366 closed

[2017-06-23 07:28] Nyholm commented on #369
Are you using your production key or a sandbox key?

[2017-06-23 07:31] Nyholm commented on #364
Hm, that is no good. Did the server team change the response?... @pirogoeth

Can you make a PR that works with the new response type

[2017-06-23 12:51] AdnanHussainTurki commented on #369
Sandbox key.

[2017-06-23 13:07] Nyholm commented on #369
That's my be why

[2017-06-23 13:31] AdnanHussainTurki commented on #369
Okay, I changed it to live domain and in the logs, I got my issue.

It says I need to upgrade my account to use the mailing list, for free members only authorised recipients will work.

Thanks for your help.

[2017-06-23 13:31] #369 closed

[2017-06-27 14:44] nickolaich commented on #364
I've created PR

[2017-06-27 14:46] lordspace commented on #174
Is there a workaround? because checking Mailgun class there are deprecated things and will be removed.

[code]

[2017-06-28 09:25] #364 closed

[2017-06-30 16:04] natterstefan commented on #178
@Nyholm is [this](https://github.com/mailgun/mailgun-php/issues/178#issuecomment-250679233) necessary to solve this issue? I am running into this problem on my live system.

[2017-07-01 11:10] Nyholm commented on #178
My answer was to configure the HTTP client not to verify the SSL protocol.
What issue are you referring to?

Do you get a `Mailgun\Connection\Exceptions\MissingEndpoint`? If so, what endpoint are you using?

[2017-07-01 11:15] natterstefan commented on #178
@Nyholm I was referring to the `'The endpoint you've tried to access does not exist. Check your URL` error response. But in the meanwhile I was able to solve it.

My `$domain = "mydomain.com";` was not the one I had set up on mailgun. That caused the error. Maybe the response should be more clearer on what is wrong.

[2017-07-01 11:37] Nyholm commented on #178
Yeah, you may be correct. It may include the URL. Can you submit a PR?

[2017-07-02 10:15] natterstefan commented on #178
@Nyholm I submitted a [PR](https://github.com/mailgun/mailgun-php/pull/373). Did not find a Contribution Readme. So hopefully I did not forget something.

[2017-07-02 10:54] Nyholm commented on #178
Thank you. It all looks good.

[2017-07-25 02:59] nagayama opened #374 "Recipient Variables lost with BatchMessage"
I have been contacting MailGun Support from 06/15/17, but I was told to report an issue in this place.

I faced a problem that Recipient Variables does not work well.

I ran a test script It increases "to" from 300 to 1000 by 100 and posts to the PostBin.  (https://gist.github.com/nagayama/00687bccfdfc4e1a364aaf34be0f521b)

The result is this: http://bin.mailgun.net/08045d3a
More than 700 addresse

[2017-07-25 10:52] DavidGarciaCat commented on #374
Hi @nagayama

Based on API docs, we can send up to 1000 batch messages so, indeed, there's a problem:
https://documentation.mailgun.com/en/latest/user_manual.html#batch-sending

We can review it, but if you have enough time to create a PR will be appreciated.

Cheers,

[2017-08-02 08:22] Radzhab opened #376 "How send email with subscription url?"
How send email with subscription url? I not found api method

[2017-08-02 12:17] DavidGarciaCat commented on #376
Hi @Radzhab

Can you please describe what's your goal?

A subscription URL can be added as part of your email's body (so you need your own business logic to deal with this request) or maybe you mean another Mailgun's feature that I don't understand.

By other side, if you can specify what you want to do (pointing the expected API reference here https://mailgun-documentation.readthedocs.io/en/lates

[2017-08-04 16:36] michbr opened #378 "Cannot inflate webhook POST data into a Mailgun\Model\Message\ShowResponse"
This would make life so much easier if this were possible.

[2017-08-04 16:54] Nyholm commented on #378
Yes. We should. Do you mind creating a PR for that?

[2017-08-04 17:52] michbr commented on #378
I may, but I certainly need some guidance first. The first problem is with decoding the message headers field in [ShowResponse::Create](https://github.com/mailgun/mailgun-php/blob/master/src/Mailgun/Model/Message/ShowResponse.php#L110).

Currently it throws an error because it gets a string and expects an array. Should be easy, except the string form of the array that comes down isn't proper Json.

[2017-08-04 18:33] michbr commented on #378
Apparently json_decode still works even though it's improper json...I'll have a PR shortly.

[2017-08-04 18:33] Nyholm commented on #378
Great!

[2017-08-14 14:03] michbr opened #380 "The Events API cannot be used for pagination"
From Api/Event.php:

`$response = $this->httpGet(sprintf('/v3/%s/events', $domain), $params);`

Where a URL for a particular page takes the form:

https://<host>/v3/<domain>/events/<large_hash>

There is currently no way to from this request.

[2017-08-14 14:24] DavidGarciaCat commented on #380
Hi @michbr

Currently the `Mailgun\Api\Event` object already is using the `trait  Pagination` object here:
https://github.com/mailgun/mailgun-php/blob/master/src/Mailgun/Api/Event.php#L22

And `Pagination` has some methods to get some pages as you can see here:
https://github.com/mailgun/mailgun-php/blob/master/src/Mailgun/Api/Pagination.php#L25-L63

Maybe I didn't understand what you mean, so if

[2017-08-14 14:33] michbr commented on #380
Looks like I misunderstood the API. Thanks!

[2017-08-14 14:34] #380 closed

[2017-08-15 16:58] Jeeppler opened #382 "Missing code examples for `message()` method"
[According to the source code](https://github.com/mailgun/mailgun-php/blob/master/src/Mailgun/Mailgun.php#L130) the `message()` method will replace the `sendMessage()` method in version 3.0 of the Mailgun API. The problem however, is that there are no examples in the documentation on how to use the `message()` method. The only available examples are for the new `message()` method are in [attachmen

[2017-08-15 17:05] Jeeppler commented on #382
In addition, there are examples for a `messages()` method in the [Index -> Send a Message](https://github.com/mailgun/mailgun-php/blob/master/doc/index.md#send-a-message) section. The `messages()` method seems to be the same as the `message()`. What is the difference?

[2017-08-15 19:18] Jeeppler commented on #382
If I try to use the `message()` method as suggested in the deprecation annotation:
`@deprecated Use Mailgun->message() instead.

[code]
I receive the following error message:

[code]

[2017-08-15 20:02] Nyholm commented on #382
Thank you for your issues.
The documentation on ducumentation.mailgun.com is still valid. It is not updated for the upcoming version 3.0, but it is valid for the current version.

You seeing examples and documentation on this repo. https://github.com/mailgun/mailgun-php/blob/master/doc/index.md

About your failing test, I assume that phpunit warns you about deprecated code. That is not an issue of

[2017-08-15 23:37] Jeeppler commented on #382
@Nyholm thanks for the reply.

We would like to update the deprecated code. In fact, that is the reason why I opened this issue. However, the fact that the suggested method `message()` in the deprecation message and  the actual method name `messages()` do not match, as you pointed out, makes preparing the code for the upcoming version 3.0 more difficult.

Furthermore, the examples you referenced s

[2017-08-16 15:10] Jeeppler commented on #382
I created a PR

[2017-08-16 15:43] Jeeppler commented on #382
Just, to make this clear. I don't ask for many examples or even all possibilities. However, it would be very helpful if you would have at least the return value of a method in your API docs. Yes, I can read the code and figure out what the return value is, but that requires more time than reading a well formated API doc.

For example, `Mailgun->messages()->send()` will return either an exception o

[2017-08-16 17:05] Nyholm commented on #382
Yes, We have PHP doc on all (most) methods. Your IDE will help you with the auto complete and discover the methods you can use. Do you propose that we should have PHP doc and also a readme that document all methods' parameters and return values?

This is documentation of the API client, not the API. Lets have a look at the [API documentation](https://documentation.mailgun.com/en/latest/api_referen

[2017-08-16 17:12] DavidGarciaCat commented on #382
Maybe we could use phpDoc project to generate some docs?

[2017-08-16 20:17] julian-margara commented on #374
Hi @DavidGarciaCat,

I think that the problem is the amount of data sent in the request.

In the example of @nagayama the recipients have only one custom variable ("test_variable" => "name of X") and works with a max of around 500 recipients (like he said), but if you increase the number of custom variables the request don't work with 500 recipients.

So any variable that you send (to, body, subje

[2017-08-16 21:28] julian-margara commented on #374
@DavidGarciaCat This behavior happens using http://bin.mailgun.net, I didn't try with the real endpoint.

[2017-08-22 05:06] teamcoltra commented on #82
This should be closed

[2017-08-22 05:25] #82 closed

[2017-08-24 11:54] vercotux opened #385 "Custom recipient variables do not work"
If I add recipients this way:

    $messageBuilder->addToRecipient($email, [
        'testvar' => 'some_var',
        'full_name' => 'some1',
    ]);

And then render the message body as

    Hello %recipient_name%, your var is: %recipient.testvar%.

The email delivered is:

    Hello some1, your var is: %recipient.testvar%.

Whis is this not working? The API documentation clearly [says](http://mg

[2017-08-28 13:52] Nyholm opened #387 "Update all "official" documentation"
We need to update all PHP examples in https://github.com/mailgun/documentation before we can tag 3.0.0.

[2017-08-29 22:54] shakaran opened #390 "Unsubscribe API responses different behaviour and missing params"
I am trying two ways to get the list of unsuscribes for a domain, but I found diferent behaviours calling to different ways (which is pretty inconsistent):

If you check the unsubscribe API index in [API agnostic documentation](http://mailgun-documentation.readthedocs.io/en/latest/api-unsubscribes.html#unsubscribes):

1) It should allow two parameters: _skip_ and _limit_
2) The _limit_ says _100_

[2017-08-30 04:42] Nyholm commented on #390
About the limit/skip: I guess the api server has updated their specification. We should update the api client so it aligns with the docs.

Yes, we should have totalcount and getid.

[2017-08-30 10:38] shakaran commented on #390
@Nyholm For point 1, I still need know which is the really limit number by the server specification, could you ask to the server guys? Which worry me more, it is how Mailgun flow is when the server spec changes things and the SDK clients receive the notification with changes for update properly? If not a clear way, a lot could be missing with the time if nobody detects

[2017-08-30 10:41] shakaran commented on #378
@michbr any update with the PR?

[2017-08-30 10:56] Nyholm commented on #390
No, I have as much contact with "the server guys" as you have. ;) I do not work at Mailgun.

True, I would argue that it is a BC break to reduce the upper limit. Calls that previously returned 200 will now return 400. That is no good..

What do you suggest we should do? Maybe we should remove the client verification for this endpoint at let the server return the failure?

[2017-08-30 11:29] shakaran commented on #262
@Nyholm maybe append a empty string and concatenate to the attachment before to json_decode() could force to avoid the float or integer casting? Or just casting with strval() php native function or (string) $variable casting?

[2017-08-30 12:34] shakaran commented on #256
Related https://github.com/mailgun/mailgun-php/pull/392

[2017-08-30 12:59] shakaran commented on #191
I am curious from this issue, the api email validation offered by Mailgun has some improvement or difference about the egulias library? If not I think that should be deprecated and removed for 3.0. Other option is add as dependency and overwrite the api email validation using the library (to still provide the "feature" inside the mailgun PHP-SDK

[2017-08-30 13:05] shakaran commented on #161
@massimilianobraglia or @Nyholm is this still valid or there are any PR pending for this issue?

[2017-08-30 13:07] shakaran commented on #143
@aalicki could you update the feedback for this issue? So devs knows about if it is still a problem or they could close it. If not probably will be closed by inactivity at some point

[2017-08-30 13:09] shakaran commented on #132
@lezhnev74 could you update the feedback for this issue? So devs knows about if it is still a problem or they could close it. If not probably will be closed by inactivity at some point

[2017-08-30 13:24] michbr commented on #378
@shakaran This just isn't going to work. When you setup a route, the data the server sends corresponds to neither an Event nor a Message/ShowResponse.

My solution was to take the message url posted by a route and just grab the associated message from it. (Which means that you have to setup your route to BOTH store and notify about messages)

Hopefully Mailgun will fix this in future versions of t

[2017-08-30 14:48] DavidGarciaCat commented on #191
Hey @shakaran

This is a pending update, and I will work on it as soon as I can.

My idea is to provide a 1st check via egulias library, and if all is fine then send the request to Mailgun API, due if there's a bad formed email address then doesn't make sense to sent the request to the API validator.

I hope to have some free time the upcoming weeks, and build the updated code.

Cheers,

[2017-08-30 14:49] DavidGarciaCat commented on #191
@Nyholm or @pirogoeth feel free to assign me the issue if you want

[2017-08-30 15:28] shakaran commented on #378
@Nyholm maybe you can ping to mailgun server devs or representatives to fix that behaviour since you are Collaborator?

[2017-08-30 15:48] shakaran commented on #191
@DavidGarciaCat LGTM as good solution and save queries to the API too (win-win) to both sides

[2017-08-30 21:10] shakaran commented on #390
That's not a good thing :( Communication is the key. I was thinking that as Collaborator you was in contact with some representative, even if you are a freelance hired for them, the probably should help or designate to someone to speak with server guy-sdk relation.

Exactly. A silent BC from server

The should provide a changelog or show from specs or server changes in behaviour. So all SDK could

[2017-08-31 08:16] massimilianobraglia commented on #161
The issue is still valid (even if I don't use mailgun anymore). No, I have not made a PR.

[2017-09-05 07:08] dmagur opened #396 "[Mailgun\Exception\HttpClientException] The endpoint you tried to access does not exist. Check your URL."
Hi, i'm trying to download stored messages. Getting events by /v3/www.financesolutionag.net/events?event=stored&limit=300

then getting url of stored message from event like this https://sw.api.mailgun.net/v3/domains/www.financesolutionag.net/messages/eyJwIjpmYWxzZSwiayI6ImQ4YTk0ODM3LWM4NWUtNDBmNi04MjQyLTI1NmI5MjliOTMyNyIsInMiOiI3NWUzMzFjMGQ1IiwiYyI6InRhbmtiIn0=

but when i'm trying to get message

[2017-09-05 08:14] DavidGarciaCat commented on #396
Hey, @dmagur

Occam's razor principle says that when you have a problem with multiple answers, the easiest one is the right one, so I must ask:

Is your (registered) domain on Mailgun system www.financesolutionag.net or financesolutionag.net?

Cheers,

[2017-09-05 08:18] dmagur commented on #396
@DavidGarciaCat, hi, domain registered is www.financesolutionag.net Looks like i just trying to access expired messages.

[2017-09-05 08:28] DavidGarciaCat commented on #396
@dmagur

2 questions now:

1. If you check your logs here https://mailgun.com/app/logs/www.financesolutionag.net and try to retrieve the same message you're getting an error via this SDK, what do you get? Can you retrieve it as usual?

2. Could you please provide a full trace of your Mailgun Exception (maybe via `var_dump`)? Maybe the error is on Mailgun's end, maybe the error is related with this

[2017-09-06 09:47] Savageman opened #397 "Cannot call domains()->create() with empty smtp/spam/wildcard"
Hi.

The `POST /domains` end-point can definitely be called without `smtp_password`, `spam_action` and `wildcard`, but the PHP API doesn't allow it since it checks for `Assert::stringNotEmpty()` for all 3 params.

Should I send a PR?

[2017-09-06 10:45] DavidGarciaCat commented on #397
Hello @Savageman

I would say "feel free to send the PR"; just please don't forget to provide updated PHP Unit tests too, we need to make sure we accept valid values and the tests are returning thumbs up.

/cc @Nyholm @pirogoeth

[2017-09-06 10:58] Nyholm commented on #397
:+1:

[2017-09-06 13:48] Savageman opened #398 "[v2] How-to retrieve an attachment without using a deprecated function?"
Hi.

Both `get()` and `getAttachment()` are deprecated in 2.x so it seems there is no public v2 API to retrieve an attachment.

What would be the best way to achieve it? Would exposing the httpClient be an option?

Some other API may not be available yet and exposing the httpClient directly would allow everyting not anticipated to be possible.
For example `domains()->verify()` was added recently b

[2017-09-12 15:58] shakaran commented on #397
@DavidGarciaCat @Nyholm @pirogoeth [I did the PR ](https://github.com/shakaran/mailgun-php/commit/c5da35073ad01c2a0b74286c67d3559976fce41b) I don't found any test for POST domain in folder test, so it should work properly, let me know if there are something more needed

[2017-09-12 18:10] DavidGarciaCat commented on #397
I would say to add new PHPUnit tests, even if they don't exist yet. What do
you think? Can you add them too?

D

[2017-09-12 19:13] shakaran commented on #397
@DavidGarciaCat yes sure, I just need a bit of free time to it, I will try to send another PR separated with the tests

[2017-09-20 10:14] iit2011081 commented on #171
@pbowyer Hi try to do the same way but its not working, I added like this
[code]
When I used %fullName% in subject it is displaying as it is.

[2017-09-21 13:30] iit2011081 opened #400 "How to add recipient variables in batch email ?"
I tried to add recipient variables but it is not working. I tried in this way
[code]
When I used %fullName% in subject it is displaying as it is. I also tried in some other way but all are not working. Can anyone guide me the correct way ?

[2017-10-05 04:13] DCDiaz opened #402 "'Reply-To' header parameter does not work when sending attachments"
I am able to get the "addCustomHeader('Reply-To', 'me@mydomain.com')" parameter to work perfectly fine, as long as I'm not sending an attachment.  However, whenever I add an "addAttachment" parameter to the call, the "addCustomHeader('Reply-To', 'me@mydomain.com')" parameter no longer seems to be applied to the message.  Instead, the address defined in my "setFromAddress" parameter is what's used

[2017-10-16 23:02] tfrajt opened #404 "Incorrect information in doc/attachments.md"
Hi.

In my opinion there's mistake in example described in file "doc/attachments.md". In section "From file path" it is currently described that "filename" array record Id should be used for readable name of attached file, however in file "/src/Mailgun/Connection/RestClient.php", specifically in method "prepareFile" where processing of attachments is in fact implemented, is "filename" information

[2017-10-16 23:05] DavidGarciaCat commented on #404
Hi @tfrajt

Please feel free to send a Pull Request and we can review it later.

Cheers,

[2017-10-16 23:57] tfrajt commented on #404
Great, I'm going on. Still, what type of correction would you prefer?
T.

[2017-10-17 05:10] gaurav-chandra commented on #387
+1

[2017-10-17 07:51] DavidGarciaCat commented on #404
@Nyholm do you have any preference on this?

[2017-10-17 14:22] tfrajt commented on #404
Yes, second one, I already made an pull request with proposed modification. Thanks for guidance.
T.

[2017-10-17 14:22] #404 closed

[2017-10-25 17:47] rafmud opened #406 "Fatal error: Uncaught Mailgun\Connection\Exceptions\GenericHTTPError: An HTTP Error has occurred! Check your network connection and try again"
Hi,
I have integrated mailgun in my php project and it was working fine. I was using validate email function and it was all set but now its giving me this error and I am frustrated solving this but don't have a clue that what's wrong with this as all the credentials are same and every line of code is same but this is not working . I even tried new installs as well and new server too but nothing. s

[2017-10-27 05:42] jiyanibharat303 opened #407 "Mailgun Bounce API returning only recent 5 results"
Hello Sir/Mam,
Please help on this, I am trying to fetch the bounced email list,
I have used -
$result = $mgClient->get("$domain/bounces");
This is only returning recent 5 bounced emails, I have tried with limit parameter but still get the 5 only.
On documentation it says default is 100 so please let know what is missed.

                  try {
			$mgClient = new Mailgun('Private Key');

[2017-10-31 21:51] #343 closed

[2017-11-02 17:45] slaFFik opened #410 "v2.3.4 released, but there is no tag 2.3.4 in repo"
https://github.com/mailgun/mailgun-php/tree/v2.3.4 - doesn't exist.

[2017-11-03 08:42] slaFFik opened #412 "Please release 2.3.5 with domain verification"
It's in master for months already and is quite handy functionality.

[2017-11-03 10:51] slaFFik commented on #410
Oh, it's a `2.3.4` vs `v2.3.4` issue.
You (perhaps accidentally) changed the tag naming from `v2.3.3` to `2.3.4`.

[2017-11-03 10:51] #410 closed

[2017-11-13 09:39] Eugst commented on #412
+1

[2017-11-13 09:40] rjdavidson commented on #412
👍

[2017-11-13 09:57] singhanee commented on #412
Can we have a new release 2.3.5 with all latest changes in master?

[2017-11-21 18:00] dustingraham commented on #406
This happens for me as well. Perhaps once or twice a month and it kills my daily reports.

[2017-11-21 20:03] DavidGarciaCat commented on #406
May I ask what's the error message thrown by that error, so someone can investigate it?

Also, maybe you can add a `try ... catch ...` to process the error in case of failure

[2017-11-21 20:07] rafmud commented on #406
Hi ,
Thank you for your replies but it started working after a while . I don't know what triggered what but it finally worked.

[2017-11-21 20:18] dustingraham commented on #406
catch (Exception $e)
        {
            echo 'Error: '.$e->getMessage().PHP_EOL;
        }

Echos out...

It is only intermittent. I have a script that runs daily, and once or twice a month it dies on this error. I suspect it's a temporary response failure from mailgun's API.

Feel free to close this, I just wanted to mention that I also had the problem.

[2017-11-21 20:51] DavidGarciaCat commented on #406
It looks like an API failure, indeed.

Did you try the same case I said above, something like this?
[code]

Maybe in this case if there is a downtime the 2nd call will work. I have realised about this issue working with another API that returned me DNS or Timeout errors, so when I called the API endpoint again then it worked.

Not the best / clean / nice solution, but it worked...

[2017-11-21 20:55] dustingraham commented on #406
Yea, I've done that before, and I'll try adding it in. Usually fixes another 90% of the issues when doing that, and then some times it is just flat down. :) I'll try on my own time. Sounds like the original issue is resolved though.

[2017-11-21 20:56] #406 closed

[2017-11-29 09:44] pawprintdigital commented on #171
Hi all,

Is there any update on this? I'm too faced with this issue and can't appear to get this working.
I've also contacted Mailgun directly but haven't had a huge amount of support from them which is a shame.

I'm using the method as above but the 'user-variables' are still coming through blank in both the Mailgun logs and my webhooks.

Any assistance would be greatly appreciated!

Using the Ba

[2017-11-29 12:42] iit2011081 commented on #171
@pawprintdigital
No need to use addCustomData function , just pass additional data  while adding recipient. Use following code , it will work
[code]

[2017-12-01 21:21] Nyholm commented on #412
I agree. Lets release a new version. But it has to be 2.4.0 because we introduced some new features.

[2017-12-02 00:44] DavidGarciaCat commented on #397
PR https://github.com/mailgun/mailgun-php/pull/399 has been merged

[2017-12-02 00:44] #397 closed

[2017-12-02 00:46] DavidGarciaCat commented on #396
Hello @dmagur

Looks like there is no activity since my last message. Did you manage to sort it or do you still need some help here?

Cheers,

[2017-12-02 20:57] DavidGarciaCat opened #416 "Code should not be duplicated"
To me, these 2 files are duplicated code:
- `src/Mailgun/Model/Domain/CreateResponse.php`
- `src/Mailgun/Model/Domain/VerifyResponse.php`

We should not duplicate code 😄

I would suggest to deprecate `VerifyResponse` unless we really need it, however due it looks duplicated to me. We could - potentially - reuse the `CreateResponse` object or maybe one of them could extend the other one, if we need

[2017-12-02 21:02] DavidGarciaCat opened #417 "Interfaces names should end with "Interface""
IMHO any `Interface` file should end with `Interface` for better clarity.

We have currently 3 interfaces that are not ending with it:
- `src/Mailgun/Hydrator/Hydrator.php`
- `src/Mailgun/Model/ApiResponse.php`
- `src/Mailgun/Model/PagingProvider.php`

I would suggest to rename them - both files and code - to include `Interface`, then update all those files that are implementing these interfaces t

[2017-12-02 21:08] DavidGarciaCat commented on #270
Hey there,

@coldlamper & @mreiden what's the current status on this issue? I can see there are 2 PRs related with this one, so I would like to know if they're solving your issue or if we still need to add another update:
- https://github.com/mailgun/mailgun-php/pull/274 (closed)
- https://github.com/mailgun/mailgun-php/pull/349 (merged)

Cheers,

[2017-12-04 15:46] Matroskeen opened #419 "Mailgun lists"
Hello guys,

What is the correct way to use [Mailgun lists](https://documentation.mailgun.com/en/latest/api-mailinglists.html) with this SDK?

Here is an [example](https://github.com/mailgun/mailgun-php/tree/master/src/Mailgun/Lists) with Opt-In Handler. But it's marked as deprecated in 2.3.4 version.

[2017-12-04 16:16] Eugst commented on #416
https://github.com/mailgun/mailgun-php/pull/420

[2017-12-04 16:20] Eugst commented on #412
#416 fixed, could be merged and new release created 🐙

[2017-12-05 10:55] justpusher opened #421 "Sending email with integer campaign ID causes exception"
[code]

I'm using mailgun version 2.3.4.

`MessageBuilder::addCampaignId` supports integer campain ids, according to phpdoc, but the ids are not being cast to string, but integers are not supported when converting to resources in stream_for.

[2017-12-05 11:42] DavidGarciaCat commented on #421
Hello @justpusher

I can't see - quick look - a specific reference on the API docs to manage `integer` or `string` values, so I guess both should work.

Based on the method that you reported, it should be enough casting the value on this method:
https://github.com/mailgun/mailgun-php/blob/master/src/Mailgun/Messages/MessageBuilder.php#L367-L381

If you have some time to create a Pull Request, then

[2017-12-05 21:54] pawprintdigital commented on #171
Hi @iit2011081,

I tried the above but still appear to be having issues I'm afraid.

        $batchMsg = $mg->BatchMessage($domain);
        $batchMsg->setReplyToAddress(''.$this->campaign->data['sender_name'].' <'.$this->campaign->data['sender_email'].'>');
        $batchMsg->setFromAddress(''.$this->campaign->data['sender_name'].' <'.$this->campaign->data['sender_email'].'>');
        $batchMsg-

[2017-12-06 06:05] Nyholm commented on #416
Hm, duplicated code is not necessarily a bad thing. We are talking about domain events here...

It would be super weird to reuse the `CreateResponse` when you are requesting `->verify()`...

Could a Trait be a better solution here? Or maybe create a `BaseDomainResponse`? (But maybe better naming)

[2017-12-06 09:29] DavidGarciaCat commented on #416
Hey @Nyholm

I agree, reuse `Create` when we need to `Verify` looks wrong, but keep 2 files with the same code inside means:

- we are increasing the maintenance cost due any potential update will need to be applied twice
- and at the same time we might need to release 2 new updates in case we don't pay enough attention to the update

Also, one of the benefits to reuse code is that we can deal wit

[2017-12-06 10:50] Eugst commented on #416
Hm...now I'm a bit confused...
`Create` and `Verify` are final classes. So I hope it was a reason for it?
`Trait` will bring an opportunity to extend functionality... more and more...
I'm more supportive for abstract class `BaseResponse`, but @DavidGarciaCat made a good point that it will be not `abstract` for all `Responses`
one more point from my side: Verbs in Class names, why?..

[2017-12-06 15:21] DavidGarciaCat commented on #416
Hey @Eugst

--

Given the API has an endpoint for these actions then the response we get won't change. That's the most important reason to make them `final`.

Also, there's no sense on extend them due any potential change could break the current behaviour as well as include changes that are not managed by the SDK.

We believe is better to send a PR with a new suggestion - as far as it can be used

[2017-12-06 21:20] DavidGarciaCat commented on #416
I have been thinking... Given these 2 files have the same code:

- `src/Mailgun/Model/Domain/CreateResponse.php`
- `src/Mailgun/Model/Domain/VerifyResponse.php`

Then we could add a new one, like:

- `src/Mailgun/Model/Domain/AbstractDomainResponse.php`

That will be

[code]

Please note **this is not** a `BaseDomain` response, this is just a `Domain` response

So then, we can keep the 2 existing

[2017-12-06 21:24] Eugst commented on #416
@DavidGarciaCat
abstract class, that's what I meant 👍
And name also good for me.
If everybody agree,  I will make changes in PR

[2017-12-06 21:25] Eugst commented on #416
just.. one addition... Abstract*Domain*Response.... in Domain namespace... tautology?

[2017-12-06 21:27] DavidGarciaCat commented on #416
It was just to be "crystal clear" that it's not a "Base" response

[2017-12-06 21:44] Nyholm commented on #416
Great! Lets introduce that abstract class

[2017-12-06 22:03] Eugst commented on #416
updated, builders build and check

[2017-12-06 22:09] DavidGarciaCat commented on #416
PR looks ok to me, and @Nyholm approved it too, so merging

Thanks @Eugst for your time on this!

[2017-12-06 22:09] #416 closed

[2017-12-06 22:13] Nyholm commented on #412
Great. I've reviewed the diff. We do only miss some changelog before 2.4.0 can be released.

[2017-12-06 22:23] DavidGarciaCat commented on #412
@Nyholm do you want to take care of the ChangeLog and the new tag?

[2017-12-07 13:36] dani0332 commented on #143
I think the issue still stands, I am using **PHP 7.0.8** AND **Code-igniter 3.1.6** and encounters the same issue.

**Error looks like:**
![screencapture-localhost-81-darzee-public_html-cart-cartmail-1512653387519](https://user-images.githubusercontent.com/25737126/33717827-27674558-db7d-11e7-9f0a-353b84a269a7.png)

**files in `root_dir > application > vendors` looks like**

![capture](https://use

[2017-12-07 13:50] DavidGarciaCat commented on #143
Hey @dani0332

SDK have had a few changes, can you please confirm the current installed version?

[code]

Cheers,

[2017-12-07 14:52] Nyholm commented on #143
As the exception says, you are missing a PSR7 implementation. Try installing guzzlehttp/psr7.

Also see: http://docs.php-http.org/en/latest/discovery.html#common-errors

[2017-12-07 20:18] Nyholm commented on #412
Yes. Doing it now

[2017-12-07 20:54] #412 closed

[2017-12-08 00:06] DavidGarciaCat commented on #191
Hey @Nyholm

I have started to work on the `Email Validator` feature, but I would like to get your POV on it.

The [API docs](https://documentation.mailgun.com/en/latest/api-email-validation.html#email-validation) confirms that the Email Validation endpoints have their own Public / Private keys to send the HTTP requests to the API, so we cannot reuse the same API Key we have for the other HTTP cal

[2017-12-08 05:54] dani0332 commented on #143
@DavidGarciaCat,
it says  `mailgun/mailgun-php 2.3.4 The Mailgun SDK provides methods for all API functions.`

@Nyholm
After running `composer require guzzlehttp/psr7`

I got:
[code]

My **composer.json** file looks like:
[code]

[2017-12-08 07:54] Nyholm commented on #191
Thank you. I've seen your implementation.

Why wouldn't we use the HTTP endpoint for validation?

I know that local validation is preferred, but library is an API client. It would be expected that we actually use the API.

[2017-12-08 07:55] Nyholm commented on #143
Great. Im happy it worked out for you.

[2017-12-08 08:11] DavidGarciaCat commented on #143
Hey @dani0332

Please consider to use the new way offered by this SDK to make your API calls, the method that you are using is flagged as deprecated:

[code]

[2017-12-08 08:13] DavidGarciaCat commented on #143
`Mailgun::create('your API key goes here');`
Mobile spell checker added the final `s`, please ignore it

[2017-12-08 08:34] DavidGarciaCat commented on #191
🤔

On a 2nd reading, I am not 100% sure if I misunderstood the `api_key` query string argument.

I'll double check and will proceed